<template>
  <main>
    <div class="content">
      <div class="breadcrumbs">
        <!-- <nuxt-link to="/">Главная
					<arrowPointToRight></arrowPointToRight>
				</nuxt-link>
        <nuxt-link to>Смартфоны</nuxt-link>-->
      </div>
      <h3 class="title">Все товары</h3>
      <section class="catalog">
        <catalog-filter></catalog-filter>
        <div class="body-wrap">
          <sorting-component></sorting-component>
          <transition-group class="list-items" type="transition" name="flip-list">
            <product-item v-for="item in products" :product="item" :key="item.id"></product-item>
          </transition-group>
          <button v-if="isLoadMore" class="load-more" @click="laodMore">Загрузить еще</button>
        </div>
      </section>
    </div>
    <popular-categories></popular-categories>
    <referal-banner></referal-banner>
  </main>
</template>

<script>
import CatalogFilter from "~/components/CatalogFilter.vue";
import SortingComponent from "~/components/SortingComponent.vue";
import ProductItem from "~/components/ProductItem.vue";
import PopularCategories from "~/components/PopularCategories.vue";
import ReferalBanner from "~/components/ReferalBanner.vue";

import arrowPointToRight from "~/assets/images/icons/arrow-point-to-right.svg";

import { mapState, mapActions } from "vuex";

export default {
  components: {
    arrowPointToRight,
    CatalogFilter,
    SortingComponent,
    ProductItem,
    PopularCategories,
    ReferalBanner
  },
  async fetch({ store }) {
    await store.dispatch("catalog/initCatalog");
  },
  data: () => ({
    count: 12
  }),
  computed: {
    ...mapState("catalog", ["products", "isLoadMore"])
  },
  methods: {
    ...mapActions("catalog", ["getProduct"]),
    laodMore() {
      this.getProduct(this.count);
    }
  }
};
</script>

<style lang="scss" scoped>
main {
  .flip-list-move {
    transition: transform 0.3s;
  }
  .breadcrumbs {
    padding: 22px 0 30px;
    display: flex;
    opacity: 0.75;
    @media screen and (max-width: 660px) {
      text-align: center;
      justify-content: center;
    }
    a {
      margin-right: 10px;
      padding-right: 10px;
      position: relative;
      display: block;
      font-size: 14px;
      font-weight: 300;
      svg {
        position: absolute;
        right: -4px;
        width: 4px;
        height: 6px;
        font-size: 6px;
        top: 0;
        bottom: 0;
        margin: auto;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .title {
    font-size: 32px;
    font-weight: 500;
    margin: 0 0 20px;
    @media screen and (max-width: 660px) {
      text-align: center;
    }
  }
  section.catalog {
    display: grid;
    align-items: flex-start;
    grid-gap: 2px;
    grid-template-columns: 330px 1fr;
    position: relative;
    @media screen and (max-width: 660px) {
      grid-template-columns: 330px;
      justify-content: center;
    }
    .body-wrap {
      padding: 0 2px 2px;
      .list-items {
        display: grid;
        grid-template-columns: repeat(auto-fit, 300px);
        grid-gap: 2px;
        padding-top: 4px;
        grid-column: 2 / 3;
        @media screen and (max-width: 660px) {
          grid-column: auto;
          grid-template-columns: repeat(auto-fit, 330px);
        }
      }
      .product-item {
        width: 100%;
      }
      .load-more {
        width: 100%;
        grid-column: span 3;
        border: 2px solid $blue;
        height: 44px;
        font-weight: 700;
        color: $blue;
        margin-top: 20px;
        margin: 20px 0 0;
      }
    }
  }
}
</style>
