.preview-photo-form {
    width: auto;
    height: auto;
    max-width: 600px;
    max-height: 600px;
}

.pre-review-photo{
    width: auto;
    height: auto;
    max-width: 500px;
    max-height: 500px;
}