.button-gallery{
    margin-bottom: 30px;
}

.gallery {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(6, 250px);
    grid-gap: 20px;
    margin: 40px 0;
    justify-items: center;
    align-items: center;
}
.gallery > div{
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.3);
    padding:0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    text-align: center;
    width: 100%;
    padding: 15px;

}
.gallery .img-wrap{
    overflow: hidden;
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: center;
}

.gallery .text-wrap{
    padding-top: 10px;
    display: grid;
    grid-gap: 10px;
    justify-items: center;
}

.gallery img{
    height: 100%;
    object-fit: cover;
}

.gallery button{
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background: red;
    color: #ffffff;
    border: none;
    margin-top: 5px;
    padding: 5px 10px;
    font-size: 14px;
}