section.specifications {
    padding-bottom: 70px;
    margin-bottom: 50px;
    position: relative;
}
section.specifications .row-buttons-wrap {
    padding: 10px;
    display: grid;
    grid-gap: 10px;
    grid-auto-flow: column;
    justify-content: flex-end;
}
section.specifications .group-buttons-wrap {
    padding: 10px;
    display: grid;
    grid-gap: 10px;
    grid-auto-flow: column;
    justify-content: flex-end;
}

section.specifications .blocks-group {
    display: grid;
    grid-gap: 20px;
    width: 100%;
}
section.specifications .group {
    width: 100%;
    box-shadow: 0px 3px 20px 2px rgba(0, 0, 0, 0.17);
    position: relative;
}
section.specifications .remove {
    position: absolute;
    right: 10px;
    border: none;
    background: transparent;
		top: 0;
		font-size: 20px;
}
section.specifications .group-name-wrap {
    font-size: 22px;
    font-weight: 500;
    width: 100%;
    padding: 10px 10px 0 10px;
}
section.specifications .group-name input {
    border: none;
    width: 100%;
    padding: 10px;
    height: 100%;
}
section.specifications .row-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    position: relative;
    padding: 10px 30px 0;
}
section.specifications .row-wrap textarea {
    width: 100%;
    resize: vertical;
    height: 100%;
    height: 34px;
    min-height: 34px;
    margin: 0;
}
