<template>
  <article class="reviews">
    <div v-for="review in reviews" :key="review.id" class="review">
      <div class="left-wrap">
        <div class="name-wrap">
          <div class="avatar">
            <img v-if="review.avatar" src="/images/review-def-avatar.png" alt>
            <img v-if="!review.avatar" :src="review.avatar" alt>
          </div>
          <div class="name">{{ review.name }}</div>
        </div>
        <div class="ratings-wrap">
          <div class="star-wrap">
            <star-icon v-for="item in review.stars" :key="item.id" :class="{active: item}"></star-icon>
          </div>
          <div class="text-ratings">{{review.stars.length}} оценки</div>
        </div>
        <div class="date">{{review.date}}</div>
      </div>
      <div class="main-wrap">
        <b>Отзыв</b>
        <p>{{review.text}}</p>
        <b>Плюсы</b>
        <p>{{review.pros}}</p>
        <b>Минусы</b>
        <p>{{review.cons}}</p>
      </div>
    </div>
		<button class="feedback">Оставить отзыв</button>
  </article>
</template>

<script>
import StarIcon from "~/assets/images/icons/star.svg";

export default {
  components: {
    StarIcon
  },
  props: {
    reviews: {
      type: Array
    }
  }
};
</script>

<style lang="scss" scoped>
.reviews {
  display: grid;
  grid-gap: 20px;
  .review {
    background: #f7f7f7;
    padding: 20px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.11);
    display: grid;
    grid-gap: 60px;
    grid-template-columns: 240px 1fr;
    .left-wrap {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .name-wrap {
        display: flex;
        align-items: center;
        .avatar {
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 10px;
          border-radius: 50%;
          overflow: hidden;
          background: #556080;
          img {
            max-width: 100%;
          }
        }
        .name {
          font-size: 18px;
        }
			}
			.ratings-wrap {
				display: flex;
				align-items: center;
				margin-top: 10px;
				.star-wrap {
					display: grid;
					grid-template-columns: repeat(5, 14px);
					grid-gap: 6px;
					margin-right: 10px;
					svg {
						fill: #d8d8d8;
						&.active {
							fill: #26d1c8;
						}
					}
				}
				.text-ratings {
					color: #b2b2b2;
				}
			}
      .date {
        margin-top: auto;
        padding-bottom: 10px;
        color: #b2b2b2;
      }
		}
		.main-wrap {
			b {
				display: block;
				font-weight: 500;
				font-size: 18px;
			}
			p {
				margin-top: 0;
				font-size: 14px;
				line-height: 1.57;
			}
			*:last-child {
				margin-bottom: 0;
			}
		}
	}
	button.feedback {
		font-weight: 700;
		color: #ffffff;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 220px;
		height: 46px;
		background: $blue;
		margin: 0 auto;
		border-radius: 2px;
	}
}
</style>
