<template>
  <div class="product-color">
    <div class="head">
      <span>ЦВЕТ ТОВАРА:</span>
      {{activeName}}
      <button>
        <close></close>
      </button>
    </div>
    <div class="colors-gallery">
      <button
        v-for="colorItem in colorItems"
        :key="colorItem.id"
        :class="{active: colorItem.active}"
        @click="activeColor(colorItem)"
      >
        <img :src="colorItem.img" alt>
      </button>
    </div>
    <div class="availability">
      <div v-if="activeavailability" class="in-stock">Есть на складе</div>
      <div v-if="!activeavailability" class="not-available">Нет в наличии</div>
    </div>
  </div>
</template>

<script>
import close from "~/assets/images/icons/close.svg";

export default {
  components: {
    close
  },
  data() {
    return {
			activeName: "",
			activeavailability: "",
      colorItems: [
        {
          name: "Бежевый",
          img: "/images/product-item-color-1.png",
          availability: true,
          active: true
        },
        {
          name: "Черный",
          img: "/images/product-item-color-2.png",
          availability: true,
          active: false
        },
        {
          name: "СЕРЫЙ КОСМОС",
          img: "/images/product-item-color-3.png",
          availability: false,
          active: false
        }
      ]
    };
	},
	created() {
		for (let i in this.colorItems) {
			if (this.colorItems[i].active === true) {
				this.activeName = this.colorItems[i].name;
				this.activeavailability = this.colorItems[i].availability;
			}
		}
	},
  methods: {
    activeColor(id) {
      for (let i in this.colorItems) {
				if (this.colorItems[i] === id) {
					this.colorItems[i].active = true;
					this.activeName = id.name;
					this.activeavailability = id.availability;
				} else {
					this.colorItems[i].active = false;
				}
      }
		},
  }
};
</script>

<style lang="scss" scoped>
.product-color {
  .head {
    font-size: 10px;
    position: relative;
    text-transform: uppercase;
    span {
      color: #808080;
    }
    button {
      right: -20px;
      position: absolute;
      top: 0;
      display: flex;
      align-items: center;
      padding: 0;
      svg {
        width: 10px;
        height: 10px;
        cursor: pointer;
      }
    }
  }
  .colors-gallery {
    display: grid;
    grid-template-columns: repeat(3, 52px);
    grid-auto-rows: 52px;
    grid-gap: 6px;
    margin-top: 6px;
    button {
      border: 2px solid #f0f0f0;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
				height: 38px;
      }
      &.active {
        border-color: $blue;
      }
    }
  }
  .availability {
    div {
      font-weight: 500;
      font-size: 15px;
      padding: 15px 0;
    }
    .in-stock {
      color: #75c58f;
    }
    .not-available {
      color: rgb(233, 52, 52);
    }
  }
}
</style>
