<template>
	<article class="specifications">
		<div v-for="specification in specifications" :key="specification.id" class="block">
			<div class="title">{{specification.title}}</div>
			<div class="body">
				<div v-for="row in specification.row" :key="row.id" class="row">
					<div class="key">{{row.name}}</div>
					<div class="dots"></div>
					<div class="val">{{row.val}}</div>
				</div>
			</div>
		</div>
	</article>
</template>

<script>
export default {
	props: {
		specifications: {
			type: Array
		}
	}
};
</script>

<style lang="scss" scoped>
	.specifications {
		.block {
			padding: 20px 0;
			.title {
				font-size: 24px;
				font-weight: 500;
			}
			.body {
				.row {
					padding: 6px 0;
					display: grid;
					grid-template-columns: auto 1fr auto;
					grid-gap: 5px;
					max-width: 800px;
					.key {
					}
					.dots {
						width: 100%;
						background: url(/images/bg/dots.png) top left repeat-x;
					}
					.val {
						text-align: right;
					}
				}
			}
		}
	}
</style>

