<template>
  <div class="gallery-wrap">
    <div class="gallery-nav-wrap">
      <div
        v-for="item in galleryItems"
        :key="item.id"
        class="img-wrap"
        :class="{active: item.active}"
        @click="changeActiveGalleryImg(item)"
      >
        <img :src="item.src" alt>
      </div>
      <!-- <div class="open-popup-gallery">еще
        <br>4 фото
      </div>-->
    </div>
    <div class="main-img-wrap">
      <img v-if="hit" src="/images/hit.png" class="hit">
      <img :src="activeGalleryImg" alt class="main-img">
      <div class="vendor-code">Артикул: {{ vendorCode }}</div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  props: {
    galleryItems: {
      type: Array
    },
    activeGalleryImg: {
      type: String
    },
    hit: {
      type: Boolean
    },
    vendorCode: {
      type: String
    }
  },
  computed: {
    // activeImg() {
    //   return "";
    // }
  },
  methods: {
    ...mapActions("productView", ["changeActiveGalleryImg"])
  }
};
</script>

<style lang="scss" scoped>
.gallery-wrap {
  height: 100%;
  display: grid;
  grid-template-columns: 70px 480px;
  justify-content: space-between;
  @media screen and (max-width: 900px) {
    grid-template-columns: 295px;
    grid-gap: 10px;
    justify-content: center;
    justify-items: center;
  }
  @media screen and (max-width: 650px) {
    grid-template-columns: auto;
  }
  .gallery-nav-wrap {
    display: grid;
    align-content: flex-start;
    grid-gap: 5px;
    @media screen and (max-width: 900px) {
      grid-row: 2;
      grid-auto-flow: column;
    }
    .img-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid #f0f0f0;
      width: 70px;
      height: 70px;
      cursor: pointer;
      img {
        height: 50px;
      }
      &.active {
        border-color: $blue;
      }
    }
    .open-popup-gallery {
      text-align: center;
      font-size: 14px;
      font-weight: 700;
      color: #c7c7c7;
      text-decoration: underline;
      padding: 5px 0;
    }
  }
  .main-img-wrap {
    width: 480px;
    height: 100%;
    position: relative;
    border: 2px solid #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 900px) {
      padding: 30px 0;
      width: 295px;
    }
    .main-img {
      max-width: 180px;
      max-height: 300px;
    }
    .hit {
      position: absolute;
      left: 20px;
      top: 20px;
    }
    .vendor-code {
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 11px;
      color: #a5a5a5;
    }
  }
}
</style>
