<template>
  <main class="about">
    <div class="page-title">О компании</div>
    <section class="about content">
      <article>
        <h3>
          Поиск любимого смартфона приводит
          <br>к лишним затратам времени, денег и нервов?
          <img src="/images/865135.png" alt>
        </h3>
        <p>
          Приобрести качественную электронику можно лишь объехав несколько магазинов, расположенных в разных районах города или промониторив десятка два интернет-магазинов в поисках лучшей цены и последующей гарантией. И, увы, это далеко не исключает вероятность, того что Вы могли ошибиться в выборе.
          <br>
          <br>Хотите купить смартфон, планшет или аксессуары по действительно выгодной цене и получить привлекательные бонусы, безоговорочную гарантию и лучший сервис?
        </p>
      </article>
      <article>
        <h3>
          Добро пожаловать в маркетплейс нового поколения — Useit!
          <img
            class="op-1"
            src="/images/311267.png"
            alt
          >
        </h3>
        <p>
          <span class="blue">Useit.store</span> - это не просто онлайн-каталог товаров, это агрегатор товарных предложений продавцов, поставщиков и производителей, работающий по принципу маркетплейс. Реализация, кассовое сопровождение и доставка большинства товаров осуществляется сторонними компаниями-партнерами, которые несут полную ответственность за свой товар перед нашим сервисом и его клиентами.
        </p>
      </article>
    </section>
    <div class="store content">
      <img src="/images/store.png" alt>
    </div>
    <section class="advantages content">
      <div class="articles-wrap">
        <article>
          <h4>
            <advantagesIcon1></advantagesIcon1>Демократичные цены
          </h4>
          <p>Мы работаем на перспективу и не гонимся за моментальной выгодой. Мы не завышаем цену, пытаясь «обобрать» клиента, а пытаемся дать разумный минимум. Мы не идем на различные уловки, которыми пользуются наши конкуренты, не предлагаем товары сомнительного качества, не навязываем дорогостоящие услуги и аксессуары. Цена, по которой мы продаем товары, позволяет предложить вам официальную и качественную продукцию, за которую мы ручаемся гарантией и своей репутацией.</p>
        </article>
        <article>
          <h4>
            <advantagesIcon2></advantagesIcon2>Оригинальность и качество товара
          </h4>
          <p>Мы тщательно отбираем поставщиков и товары, которые предлагаем своим покупателям. На просторах нашего маркетплейса вы найдете самые лучшие и актуальные устройства и аксессуары различных производителей. Мы регулярно расширяем наш ассортимент, поэтому если вы вдруг не нашли желаемый гаджет - смело пишите нам на support@useit.store</p>
        </article>
        <article>
          <h4>
            <advantagesIcon3></advantagesIcon3>Гарантия и сервис
          </h4>
          <p>Не смотря на то, что поставщики имеют гарантийные обязательства перед клиентом, мы предоставляем свою личную гарантию, так как имеем собственные сервисы по всей Москве. Вы сможете в кратчайшие сроки устранить гарантийную поломку или заводской дефект Вашего смартфона в ближайшем к Вам сервис-центре совершенно бесплатно.</p>
        </article>
        <article>
          <h4>
            <advantagesIcon4></advantagesIcon4>Обмен и возврат
          </h4>
          <p>Мы предоставляем Вам гарантию возврата. Покупая товар на нашей интернет площадке, у Вас будет 14 дней, чтобы определить подходит ли он Вам. Если нет - мы вернем Вам деньги или обменяем на другой равнозначный товар.</p>
        </article>
        <article>
          <h4>
            <advantagesIcon5></advantagesIcon5>Удобная доставка
          </h4>
          <p>Вы можете оформить доставку из любой точки России. Мы предлагаем гибкие условия доставки по Москве и Московской области, бесплатный самовывоз в городе Видное, а также отправку товара службой СДЭК и Почтой России. Мы используем индивидуальный подход к каждому клиенту. Наши курьеры не только привезут заказ, но и окажут подробную консультацию, при необходимости помогут активировать и настроить Ваш новый смартфон. Перед покупкой Вы можете распечатать коробку и осмотреть товар. В случае, если Вас не устроил заказ, Вы можете отказаться, оплатив только курьерскую доставку до места.</p>
        </article>
      </div>
    </section>
    <popular-categories></popular-categories>
    <referal-banner></referal-banner>
  </main>
</template>

<script>
import advantagesIcon1 from "~/assets/images/icons/advantagesIcon1.svg";
import advantagesIcon2 from "~/assets/images/icons/advantagesIcon2.svg";
import advantagesIcon3 from "~/assets/images/icons/advantagesIcon3.svg";
import advantagesIcon4 from "~/assets/images/icons/advantagesIcon4.svg";
import advantagesIcon5 from "~/assets/images/icons/advantagesIcon5.svg";
import PopularCategories from "~/components/PopularCategories.vue";
import ReferalBanner from "~/components/ReferalBanner.vue";

export default {
  components: {
    PopularCategories,
    ReferalBanner,
    advantagesIcon1,
    advantagesIcon2,
    advantagesIcon3,
    advantagesIcon4,
    advantagesIcon5
  }
};
</script>

<style lang="scss" scoped>
main.about {
  .store {
    height: 720px;
    overflow: hidden;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    img {
      max-width: 100%;
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }
  .page-title {
    background: url(/images/bg/about_mockup.png) center center no-repeat;
    height: 350px;
    //    border-top: 5px solid #fff;
    color: #5d5d5d;
    font-size: 26px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    @media screen and (max-width: 850px) {
      background: url(/images/bg/about_mobile.png) center center no-repeat;
    }
  }
  section.about {
    article {
      text-align: center;
      padding: 40px 0;
      h3 {
        font-size: 26px;
        font-weight: 700;
        line-height: 0.923;
        position: relative;
        img.op-1 {
          opacity: 1;
        }
        img {
          top: -50px;
          left: 0;
          right: 0;
          margin: auto;
          opacity: 0.1;
          position: absolute;
        }
      }
      p {
        font-size: 17px;
        line-height: 1.529;
        max-width: 960px;
        margin: 0 auto;
        .blue {
          color: $blue;
        }
      }
    }
  }
  section.advantages {
    .articles-wrap {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 40px;
      padding: 40px 60px;
      @media screen and (max-width: 1240px) {
        padding: 20px;
        grid-template-columns: 1fr;
      }
      article {
        &:last-child {
          grid-column: span 2;
          @media screen and (max-width: 1240px) {
            grid-column: span 1;
          }
        }
      }
      h4 {
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 18px;
        svg {
          fill: $blue;
          margin-right: 15px;
          height: 42px;
        }
      }
      p {
        font-size: 15px;
        line-height: 1.533;
        margin: 0;
      }
    }
  }
}
</style>
