<template>
  <main class="cart">
    <section class="cart content">
      <h3 v-if="stage === 0">В корзине пусто</h3>
      <h3 v-if="stage === 1">В корзине {{cartProductsCount | pluralize }}</h3>
      <h3 v-if="stage === 2">Оформление заказа</h3>
      <div v-if="stage !== 3" class="blocks-wrap">
        <div class="main-wrap">
          <div v-if="stage === 0" class="empty">
            <img src="/images/empty-cart-pic.png" alt>
            <nuxt-link class="button" to="/catalog">Начать покупки</nuxt-link>
          </div>
          <div class="products-wrap" v-if="stage === 1">
            <div v-for="product in cartProducts" :key="product.id" class="product">
              <div class="img-wrap">
                <img :src="product.ProductImgSrc" alt>
              </div>
              <div class="text-wrap">
                <div class="name">{{product.name}}</div>
                <div class="vendor-code">Артикул:{{product.vendor_code}}</div>
                <div class="count-wrap">
                  <button @click="decrement(product)" class="decrement">-</button>
                  <div class="count">{{product.count}}</div>
                  <button @click="increment(product)" class="increment">+</button>
                </div>
              </div>
              <div class="price">{{numberFormat(product.price * product.count)}}</div>
              <button @click="remove(product)" class="remove">
                <remove></remove>
              </button>
            </div>
          </div>
          <checkout-component v-if="stage === 2" ref="form" :deliveryPrice="deliveryPrice"></checkout-component>
        </div>
        <div class="right-wrap">
          <div v-if="deliveryPrice > 0 " class="free-delivery-info-wrap">
            <!-- <div class="icon-wrap">
							<delivery-box></delivery-box>
            </div>-->
            <!-- <div class="text">Для бесплатной доставки надо
							<br>пополнить корзину на 3000 рублей.
            </div>-->
          </div>
          <div v-if="stage === 0 || stage === 1" class="delivery-info-wrap">
            <div class="delivery-info">
              <MarkerIcon></MarkerIcon>
              <div class="text-wrap">
                <div class="title">Самовывоз</div>
                <div class="text">Бесплатно</div>
              </div>
            </div>
            <div class="delivery-info">
              <delivery-box></delivery-box>
              <div class="text-wrap">
                <div class="title">Доставка до дома</div>
                <div class="text">от 390 рублей</div>
              </div>
            </div>
          </div>
          <form
            v-if="stage === 0 || stage === 1"
            class="promo-code-wrap"
            @submit.prevent="addedPromoCode(promoCode)"
          >
            <!-- <input v-if="!promoCodeName" v-model="promoCode" type="text" placeholder="Промокод">
						<button v-if="!promoCodeName">
							<leftArrow></leftArrow>
            </button>-->
            <!-- <div v-if="promoCodeName" class="is-added">
							Вы получили скидку {{promoCodePercent}}%!
							<span class="code">{{promoCode}}</span>
            </div>-->
          </form>
          <div v-if="stage === 2" class="products">
            <div v-for="product in cartProducts" :key="product.id" class="product">
              <div class="img-wrap">
                <img :src="product.ProductImgSrc" alt>
              </div>
              <div class="text-wrap">
                <div class="name">{{ product.name }}</div>
                <div class="price">{{ product.price }}</div>
                <div class="count">{{ product.count }} шт.</div>
              </div>
            </div>
          </div>
          <div class="price-wrap">
            <div v-if="stage === 0" class="empty">У вас пустая корзина :(</div>
            <div v-if="stage === 1 || stage === 2" class="price-count">
              <div class="row">
                <p>Товары</p>
                <p>{{numberFormat(orderPrice)}}</p>
              </div>
              <div class="row" v-if="stage === 2">
                <p>Доставка</p>
                <p>{{numberFormat(delivery)}}</p>
              </div>
              <!-- <div v-if="discount" class="row">
								<p>Скидка</p>
								<p>{{numberFormat(discount)}}</p>
              </div>-->
              <!-- <div v-if="promoCodeName" class="row">
								<p>Промокод</p>
								<p>{{numberFormat(discountFromPromoCode)}}</p>
              </div>-->
              <div class="row total">
                <p>Итого</p>
                <p>{{numberFormat(totalPrice)}}</p>
              </div>
            </div>
          </div>
          <button @click="pushStage()" class="button" :disabled="stage === 0">Оформить заказ</button>
          <div v-if="stage === 2" class="pp">
            Нажимая «Оформить заказ», я соглашаюсь
            <br>с
            <a target="_blank" href="/private_policy.pdf">политикой конфиденциальности</a>
          </div>
        </div>
      </div>
      <div v-if="stage === 3" class="order-is-processed">
        <img src="/images/order-is-processed.png" alt>
        <div class="text-wrap">
          <div class="text">
            Ваш заказ #{{orderNumber}} оформлен.
            <br>Дождитесь звонка менеджера и подтвердите заказ.
          </div>
          <nuxt-link to="/catalog" class="button">Продолжить покупки</nuxt-link>
        </div>
      </div>
    </section>
    <popular-categories></popular-categories>
    <referal-banner></referal-banner>
  </main>
</template>

<script>
import CheckoutComponent from "~/components/cart/CheckoutComponent.vue";
import PopularCategories from "~/components/PopularCategories.vue";
import ReferalBanner from "~/components/ReferalBanner.vue";

import deliveryBox from "~/assets/images/icons/delivery-box.svg";
import MarkerIcon from "~/assets/images/icons/MarkerIcon.svg";
import leftArrow from "~/assets/images/icons/left-arrow.svg";
import remove from "~/assets/images/icons/remove.svg";

import { mapState, mapGetters, mapActions } from "vuex";

export default {
  components: {
    CheckoutComponent,
    PopularCategories,
    ReferalBanner,
    deliveryBox,
    MarkerIcon,
    leftArrow,
    remove
  },
  filters: {
    pluralize: function(value) {
      let result = "";
      if (value > 10 && value < 20) {
        result = "товаров";
      } else if (value % 10 === 1) {
        result = "товар";
      } else if ([2, 3, 4].includes(value)) {
        result = "товарa";
      } else {
        result = "товаров";
      }
      return `${value} ${result}`;
    }
  },
  data() {
    return {
      stage: 0,
      promoCode: "",
      orderNumber: ""
    };
  },
  computed: {
    ...mapState("cart", [
      "cartProducts",
      "promoCodeName",
      "promoCodePercent",
      "delivery"
    ]),
    ...mapGetters("cart", [
      "cartProductsCount",
      "orderPrice",
      "discountFromPromoCode",
      "discount",
      "deliveryPrice",
      "totalPrice"
    ]),
    ...mapGetters(["numberFormat"]),
    ...mapActions("cart", ["toggleDelivery"])
  },
  watch: {
    // cartProductsCount(newValue) {
    //   if (newValue <= 0) {
    //     this.stage = 0;
    //   }
    // }
  },
  created() {
    if (this.cartProductsCount > 0) {
      this.stage = 1;
    } else {
      this.stage = 0;
    }
  },
  methods: {
    ...mapActions("cart", [
      "decrement",
      "increment",
      "remove",
      "addedPromoCode",
      "resetCart"
    ]),
    async pushStage() {
      if (this.stage === 2) {
        let checkForm = this.$refs.form.checkForm();
        if (checkForm) {
          try {
            const data = await this.$axios.post("/notification/order", {
              ...checkForm,
              cost: this.totalPrice,
              products: this.cartProducts
            });
            if (data.status === 200) {
              this.orderNumber = data.data.timestamp;
              this.stage = 3;
              this.resetCart();
              return;
            } else {
              return;
            }
          } catch (error) {
            console.log(error.response);
          }
        } else {
          return;
        }
      }
      this.stage = 2;
    }
  }
};
</script>

<style lang="scss" scoped>
main {
  section.cart {
    padding-bottom: 100px;
    h3 {
      font-weight: 500;
      font-size: 28px;
      margin: 40px 0 20px;
      @media screen and (max-width: 1240px) {
        text-align: center;
      }
    }
    .blocks-wrap {
      display: grid;
      grid-template-columns: 1fr 390px;
      grid-gap: 20px 50px;
      @media screen and (max-width: 1240px) {
        grid-template-columns: none;
        justify-content: center;
      }
      .main-wrap {
        .empty {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 100%;
          .button {
            font-weight: 700;
            width: 220px;
            height: 46px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $blue;
            border: 2px solid $blue;
            margin-top: 15px;
          }
        }
        .products-wrap {
          display: grid;
          grid-gap: 20px;
          .product {
            background: #f0f0f0;
            display: grid;
            grid-gap: 20px;
            height: 140px;
            grid-template-columns: 140px 450px 100px 1fr;
            padding-right: 20px;
            @media screen and (max-width: 700px) {
              grid-template-columns: 100px 3fr 1fr 0.5fr;
              height: auto;
              grid-gap: 5px;
            }
            .img-wrap {
              border: 2px solid #f0f0f0;
              background: #fff;
              display: flex;
              align-items: center;
              justify-content: center;
              img {
                width: 52px;
              }
            }
            .text-wrap {
              padding: 20px 0;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              .name {
                font-size: 22px;
                font-weight: 500;
                @media screen and (max-width: 1240px) {
                  font-size: 16px;
                }
                @media screen and (max-width: 500px) {
                  font-size: 14px;
                }
              }
              .vendor-code {
                font-size: 11px;
                color: #a5a5a5;
                padding-top: 5px;
                @media screen and (max-width: 1240px) {
                  margin-bottom: 5px;
                }
              }
              .count-wrap {
                font-weight: 500;
                border: 2px solid #fff;
                display: flex;
                align-items: center;
                background: #fff;
                height: 28px;
                width: 110px;
                margin-top: auto;
                button {
                  font-size: 24px;
                  color: #808080;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 100%;
                  &.increment {
                    font-size: 20px;
                  }
                }
                .count {
                  flex: none;
                  width: 40px;
                  font-size: 14px;
                  background: #f0f0f0;
                  text-align: center;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  height: 100%;
                }
              }
            }
            .price {
              padding: 20px 0;
              font-weight: 500;
              font-size: 24px;
              @media screen and (max-width: 1240px) {
                font-size: 18px;
              }
            }
            .remove {
              padding: 20px 0;
              width: 100%;
              align-self: flex-start;
              svg {
                width: 12px;
                height: 16px;
                fill: #afafaf;
              }
            }
          }
        }
      }
      .right-wrap {
        align-self: flex-start;
        border: 2px solid #f0f0f0;
        position: relative;
        padding-bottom: 54px;
        display: grid;
        align-content: flex-start;
        .free-delivery-info-wrap {
          padding: 20px;
          display: flex;
          align-items: center;
          .icon-wrap {
            border: 1px solid #d5d5d5;
            border-radius: 50%;
            width: 44px;
            height: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
            font-size: 18px;
            svg {
              width: 18px;
              height: 18px;
            }
          }
          .text {
            font-size: 15px;
          }
        }
        .delivery-info-wrap {
          padding: 0 20px;
          .delivery-info {
            padding: 15px 0;
            display: flex;
            svg {
              height: 22px;
              margin-right: 10px;
            }
            .text-wrap {
              .title {
                font-weight: 500;
                font-size: 18px;
              }
              .text {
                font-weight: 300;
              }
            }
          }
        }
        .promo-code-wrap {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 20px;
          background: #f0f0f0;
          position: relative;
          font-weight: 500;
          input {
            width: 100%;
            height: 46px;
            box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
            border: none;
            padding: 0 60px 0 14px;
            @include input-placeholder {
              color: #acacac;
            }
          }
          button {
            position: absolute;
            right: 20px;
            top: 0;
            bottom: 0;
            height: 46px;
            width: 46px;
            background: $blue;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
              fill: #fff;
              width: 12px;
              height: 12px;
              transform: rotate(180deg);
            }
          }
          .is-added {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #ffffff;
            background: $blue;
            height: 46px;
            width: 100%;
            padding: 0 18px;
            .code {
              opacity: 0.5;
            }
          }
        }
        .price-wrap {
          .empty {
            height: 150px;
            font-weight: 300;
            color: #adadad;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .price-count {
            padding: 20px 0 10px;
            .row {
              display: flex;
              font-weight: 300;
              justify-content: space-between;
              padding: 0 20px;
              p {
                margin: 3px 0;
              }
            }
            .total {
              font-weight: 500;
              padding-top: 10px;
              p:last-child {
                font-size: 20px;
                font-weight: 700;
              }
            }
          }
        }
        .products {
          border-bottom: 2px solid #f0f0f0;
          padding: 20px 0;
          margin: 0 20px;
          display: grid;
          grid-gap: 10px;
          .product {
            position: relative;
            display: flex;
            align-items: center;
            .img-wrap {
              margin-right: 5px;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 40px;
              img {
                height: 42px;
              }
            }
            .name {
              font-size: 14px;
            }
            .price {
              font-weight: 700;
              font-size: 13px;
            }
            .count {
              position: absolute;
              right: 0;
              bottom: 0;
              color: #808080;
              font-size: 12px;
            }
          }
        }
        .button {
          position: absolute;
          bottom: -2px;
          left: 0;
          width: calc(100% + 4px);
          margin: 0 -2px;
          background: $blue;
          color: #ffffff;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 56px;
          color: #fff;
          font-size: 18px;
          font-weight: 500;
          &:disabled {
            background: #e7e7e7;
            color: #a1a1a1;
          }
        }
        .pp {
          position: absolute;
          bottom: -50px;
          left: 0;
          width: 100%;
          font-weight: 300;
          font-size: 13px;
          color: #888888;
          text-align: center;
          a {
            color: $blue;
          }
        }
      }
    }
    .order-is-processed {
      height: 500px;
      display: flex;
      align-items: center;
      justify-content: center;
      @media screen and (max-width: 660px) {
        flex-direction: column;
      }
      img {
        @media screen and (max-width: 660px) {
          margin-bottom: 20px;
        }
      }
      .text-wrap {
        margin-left: 30px;
        .text {
          font-size: 22px;
          font-weight: 500;
        }
        .button {
          font-weight: 700;
          width: 220px;
          height: 46px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 20px;
          border: 2px solid $blue;
          color: $blue;
          font-weight: 700;
        }
      }
    }
  }
}
</style>
