<template>
  <main class="contacts content">
    <div class="map-wrap">
      <no-ssr>
        <GmapMap
          :center="map.center"
          :zoom="13"
          map-type-id="roadmap"
          style="width: 100%; height: 100%"
        >
          <GmapMarker
            :key="index"
            v-for="(m, index) in map.markers"
            :position="m.position"
            :clickable="true"
            :draggable="false"
            icon="/images/mark.png"
            @click="center=m.position"
          />
        </GmapMap>
      </no-ssr>
    </div>
    <div class="text-wrap">
      <title-section title="Контакты"></title-section>
      <div v-for="contact in contacts" :key="contact.id" class="contact-block">
        <h4>{{contact.title}}</h4>
        <p v-if="!contact.link">{{contact.info}}</p>
        <a :href="contact.link" v-if="contact.link">{{contact.info}}</a>
        <span v-if="contact.text" class="schedule">
          <span v-for="(text, index) in contact.text" :key="index">{{text}}</span>
        </span>
      </div>
      <div class="social">
        <h4>Мы в соцсетях</h4>
        <social-links></social-links>
      </div>
    </div>
  </main>
</template>

<script>
import TitleSection from "~/components/_TitleSection.vue";
import SocialLinks from "~/components/SocialLinks.vue";

export default {
  components: {
    TitleSection,
    SocialLinks
  },
  computed: {
    contacts() {
      return this.$store.state.contacts.contacts;
    },
    map() {
      return this.$store.state.contacts.map;
    }
  }
};
</script>

<style lang="scss">
main.contacts {
  padding: 147px 0 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @media screen and (max-width: 1240px) {
    grid-template-columns: 1fr;
  }
  .map-wrap {
    overflow: hidden;
    border-radius: 10px;
    background-color: $blue;
    height: 560px;
    box-shadow: 0px 2px 6px 0px rgba(42, 30, 125, 0.13);
    @media screen and (max-width: 1240px) {
      border-radius: 0;
    }
  }
  .text-wrap {
    padding-left: 65px;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 1240px) {
      padding: 0;
    }
    h4 {
      font-size: 20px;
      font-weight: 500;
      margin: 0 0 8px;
    }
    p {
      margin: 0;
    }
    .contact-block {
      margin-bottom: 20px;
      @media screen and (max-width: 1240px) {
        text-align: center;
      }
    }
    .social {
      margin-top: auto;
      margin-bottom: 50px;
      @media screen and (max-width: 1240px) {
        text-align: center;
        .social-links {
          justify-content: center;
        }
      }
      .social-links {
        svg {
          fill: $blue;
          width: 19px;
          max-height: 19px;
        }
      }
    }
  }

  .schedule {
    display: flex;
    flex-direction: column;
  }
}
</style>

