<template>
  <main class="delivery">
    <section class="delivery">
      <div class="content">
        <div class="block">
          <div class="title">
            <img src="/images/delivery.png" alt class="icon">
            Доставка
          </div>
          <div class="text-wrap">
            <h4>Стоимости доставок</h4>
            <p>
              <span class="blue">•</span> Стоимость доставки курьерской службой по Москве в пределах МКАД — 390 руб.*
              <br>
              <span class="blue">•</span> Стоимость Экспресс доставки в течении 3 часов после осуществления заказа по Москве — 890 руб.
              <br>
              <span class="blue">•</span> Стоимость доставки по Московской области составляет 890 руб. до 10км за МКАД.
              <br>
              <span class="blue">•</span> Стоимость Экспресс доставки в течении 3 часов после осуществления заказа по по Московской области составляет 1390 руб. до 10км за МКАД
              <br>
              <span class="blue">•</span> Доставка по городу Видное — Бесплатно
              <br>
              <span class="blue">•</span> Доставка Экспресс по городу Видное — 490 руб.
              <br>
              <span class="blue">•</span> Доставка до пункта самовывоза — Бесплатно
            </p>
            <h4>Доставка в регионы России</h4>
            <p>
              Мы можем доставить любой понравившийся вам товар в любой регион России по 100% предоплате службами СДЭК и EMS Почта России.
              <br>СДЭК значительно удобнее обычной почты, посылку вам принесет курьер прямо на дом.
              <br>— Стоимость отправки заказа в регион — от 490 рублей.
            </p>
            <p class="ps">
              * Дополнительная информация.
              <br>В целях безопасности доставка осуществляется исключительно на рабочий, либо домашний адрес. Служба безопасности оставляет за собой право отказать в доставке, если данное условие не соблюдено.
            </p>
            <h4>Сроки доставки:</h4>
            <p>
              Интернет-магазин работает с понедельника по субботу. По будням с 11.00 до 20.00, в субботу с 12.00 до 18.00. Если вы делаете заказ до 13.00 Мск, то доставка возможна в этот же день, если же доставка оформляется после 13.00 Мск, то доставка возможна только на следующий день. После оформления заказа наши менеджеры свяжутся с Вами по телефону для подтверждения заказа. В случае нарушения этих условий или других проблем с обработкой заказа, просим Вас связаться по телефону или описать проблему в письме отправив его по адресу
              <a
                :href="contacts.mail.link"
              >{{contacts.mail.info}}</a>
            </p>
            <p class="ps">
              *** Курьерская доставка осуществляется при покупке от 1000р
              <br>*** Доставка в регионы России:
              <br>Мы можем доставить любой понравившийся вам товар в любой регион России по 100% предоплате службами СДЭК и ЕМС Почта России.
              <br>- Стоимость доставки вы можете самостоятельно рассчитать на сайте https://www.cdek.ru/calculator.html, учитывая примерный вес товара с указанием страховки по полной стоимости посылки.
            </p>
          </div>
        </div>
        <div class="block">
          <div class="title">
            <img src="/images/payment.png" alt class="icon">
            Оплата
          </div>
          <div class="text-wrap --twin">
            <div class="wrap">
              <h4>Безналичный расчет</h4>
              <p>
                По вопросам оплаты товаров безналичным путем, а также при оплате банковскими картами Вы можете получить информацию в центральном офисе компании позвонив по телефонам в Москве
                <a
                  :href="contacts.tel1.link"
                >{{contacts.tel1.info}}</a>
              </p>
            </div>
            <div class="wrap">
              <h4>Наличный расчет</h4>
              <p>Оплата заказов по Москве и Московской области возможна только наличным при получении заказа, либо переводом сбербанк онлайн.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <popular-categories></popular-categories>
    <referal-banner></referal-banner>
  </main>
</template>

<script>
import PopularCategories from "~/components/PopularCategories.vue";
import ReferalBanner from "~/components/ReferalBanner.vue";

import { mapState } from "vuex";

export default {
  components: {
    PopularCategories,
    ReferalBanner
  },
  computed: {
    ...mapState("contacts", ["contacts"])
  }
};
</script>

<style lang="scss" scoped>
section.delivery {
  padding: 40px 0;
  .content {
    padding: 0 60px;
    @media screen and (max-width: 1240px) {
      padding: 0 30px;
    }
    .block {
      margin-bottom: 30px;
      .title {
        font-size: 34px;
        font-weight: 500;
        display: flex;
        align-items: flex-end;
        height: 80px;
        img {
          margin-right: 20px;
          display: block;
        }
      }
      .text-wrap {
        &.--twin {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 40px;
          @media screen and (max-width: 1240px) {
            grid-template-columns: 1fr;
            grid-gap: 20px;
          }
        }
        h4 {
          margin: 2em 0 0.5em;
          font-weight: 700;
          font-size: 15px;
          line-height: 1.6;
        }
        p {
          font-size: 14px;
          line-height: 1.6;
          margin: 0;
          a {
            color: $blue;
            text-decoration: underline;
            &:hover {
              text-decoration: none;
            }
          }
          &.ps {
            margin: 20px 0;
            font-size: 12px;
          }
          span.blue {
            color: #26d1c8;
          }
        }
      }
    }
  }
}
</style>
