<template>
  <main class="index">
    <index-banner></index-banner>
    <worth-seeing></worth-seeing>
    <popular-categories></popular-categories>
    <referal-banner></referal-banner>
  </main>
</template>

<script>
import IndexBanner from "~/components/IndexBanner.vue";
import WorthSeeing from "~/components/WorthSeeing.vue";
import PopularCategories from "~/components/PopularCategories.vue";
import ReferalBanner from "~/components/ReferalBanner.vue";
import { mapActions, mapGetters } from "vuex";

export default {
  async fetch({ store, params }) {
    await store.dispatch("getData");
  },
  components: {
    IndexBanner,
    WorthSeeing,
    PopularCategories,
    ReferalBanner
  },
  methods: {
    ...mapActions(["getBanners"])
  },
  created() {
    this.getBanners();
  }
};
</script>

<style lang="scss" scoped>
</style>
