<template>
  <main class="partnership">
    <div class="page-title">Партнерство</div>
    <section class="page-body content">
      <p>
        Благодаря качественной продукции и профессиональному подходу к работе наша интернет площадка создает все условия как для продажи товара, так и для поиска партнеров, поставщиков и потенциальных клиентов. Мы всегда учитываем потребности партнеров и готовы работать над новыми проектами для расширения бизнес возможностей.
        <br>
        <br>Условия сотрудничества, которые мы можем предложить, оптимальны как для юридических лиц, так и для само занятых предпринимателей. Своим партнерам мы предоставляем всю необходимую информацию о нашей продукции. В отличие от многих других компаний нашего уровня, мы готовы реализовывать как крупный опт, так и мелкие заказы.
        <br>Ваши преимущества от партнерства с нами:
        <br>
        <span class="blue">•</span> профессиональный подбор поставщика и товара под нужды вашего бизнеса;
        <br>
        <span class="blue">•</span> возможность приобретать продукцию по индивидуальным тарифам;
        <br>
        <span class="blue">•</span> гибкий подход к каждому Заказчику и Поставщику;
        <br>
        <span class="blue">•</span> быстрая доставка товара удобным Вам способом;
        <br>
        <br>Чтобы поближе познакомиться со спецификой нашей деятельности и понять рентабельность партнерства для обеих сторон, мы предлагаем своим будущим партнерам заключить месячный проект-договор, после которого возможно подписание полноценного соглашения о сотрудничестве.
        <br>Кроме того, на начальном этапе сотрудничества мы предоставляем нашим дилерам гибкую систему скидок и возможность заказывать продукцию в кредит. В свою очередь, мы гарантируем замену любого товара в случае брака или неудовлетворения Заказчика.
        <br>
        <br>Развивай свой бизнес вместе с Useit!
      </p>
    </section>
    <section class="partnership-banner">
      <div class="content">
        <div class="text-wrap">
          <div class="title">Начни сотрудничество в Телеграм</div>
          <p>Если вы, поставщик, заказчик, если вы хотите стать нашим партером и открыть в своем городе филиал нашего магазина, то ознакомиться с актуальными предложениями для потенциальных бизнес-партнеров Вы сможете, написав в Telegram</p>
          <div class="buttons-wrap">
            <a href="tg://resolve?domain=useitpartner" class="button">
              Ссылка на чат
              <foreignIcon></foreignIcon>
            </a>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
import foreignIcon from "~/assets/images/icons/foreign.svg";

export default {
  components: {
    foreignIcon
  }
};
</script>

<style lang="scss">
.page-title {
  background: url(/images/bg/partners_mockup.png) center center no-repeat;
  height: 350px;
  //border-top: 5px solid #fff;
  color: #5d5d5d;
  font-size: 26px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  @media screen and (max-width: 850px) {
    background: url(/images/bg/partners_mobile.png) center center no-repeat;
  }
}
section.page-body {
  line-height: 1.6;
  font-size: 15px;
  padding: 0 60px;
  @media screen and (max-width: 1240px) {
    padding: 0 20px;
  }
  @media screen and (max-width: 600px) {
    text-align: center;
  }
  span.blue {
    color: #26d1c8;
  }
  a {
    color: #2e58ab;
    &:hover {
      text-decoration: underline;
    }
  }
}
section.partnership-banner {
  background: url(/images/bg/partnership-banner.jpg) center bottom no-repeat;
  @media screen and (max-width: 600px) {
    background: url(/images/bg/partnership-banner.jpg) right bottom no-repeat;
    .content {
      height: auto;
      padding: 30px 0;
    }
  }
  .content {
    display: flex;
    height: 550px;
    align-items: center;
    justify-content: flex-end;
    padding-top: 80px;
    @media screen and (max-width: 1240px) {
      padding-top: 100px;
    }
  }
  .text-wrap {
    color: #ffffff;
    max-width: 530px;
    @media screen and (max-width: 600px) {
      text-align: center;
    }
    .title {
      font-size: 28px;
      font-weight: 500;
    }
    p {
      font-size: 14px;
      margin: 20px 0 40px;
    }
    .buttons-wrap {
      display: flex;
      justify-content: flex-start;
      @media screen and (max-width: 600px) {
        justify-content: center;
      }
      .button {
        box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.24);
        height: 46px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 15px;
        color: #1b8ad0;
        background: #fff;
        @media screen and (max-width: 600px) {
          font-size: 13px;
          width: 90%;
          margin: auto;
        }
        svg {
          fill: #fff;
          width: 16px;
          fill: #1b8ad0;
          margin-left: 20px;
        }
      }
    }
  }
}
</style>
