<template>
	<main class="warranty">
		<div class="page-title">Гарантия и сервис</div>
		<section class="page-body content">
			<article>
				<h4>
					<warrantyIcon1></warrantyIcon1>Условия гарантии
				</h4>
				<p>Приобретая технику в нашем интернет магазине, вы можете быть абсолютно уверены в том, что получите совершенно новый, оригинальный продукт, на который распространяется гарантия. Срок гарантийного обслуживания, в течение которого осуществляется бесплатный ремонт, устанавливается фирмой – производителем, обычно 1 год с момента покупки на технику и 14 дней на аксессуары*. Гарантийное обслуживание предоставляется в различных сервисных центрах наших партнеров Москвы и Подмосковья. Покупая товар на нашем маркетплейсе, вы получите гарантийный талон, который является основанием для гарантийного обслуживания. Каждому гарантийному талону присваивается уникальный QR код в котором содержится информация об адресе сервиса гарантийного обращения, контактный телефон и Имя вашего мастера. Транспортировка товара, обратно продавцу и на гарантийный ремонт/обслуживание для произведения диагностики и ремонта, производится силами потребителя.</p>
				<p class="ps">*Не путать с сервисным обслуживанием.
					<br>- Наша гарантия представляет собой полностью бесплатное для покупателя исправление заводских дефектов (если случай является гарантийным) на устройстве в течение 1 года.
					<br>- Сервисное обслуживание: Тип исполнения гарантийных обязательств, когда при наступлении гарантийного случая покупателю предоставляется право на бесплатную работу мастера, тогда как необходимые для ремонта запчасти оплачиваются покупателем.
					<br>Внимательно изучайте этот момент при выборе продавца смартфонов и аксессуаров.
				</p>
			</article>
			<div class="twin-wrap">
				<article>
					<h4>
						<warrantyIcon2></warrantyIcon2>Обмен товара надлежащего качества
					</h4>
					<p>Согласно Статье 25 Закона «О защите прав потребителей», потребитель имеет право обменять товар надлежащего качества в течение четырнадцати дней с момента покупки.
						<br>
						<br>Обмен товара надлежащего качества производится в случае, если:
						<br>
						<span class="blue">•</span> товар не был в употреблении
						<br>
						<span class="blue">•</span> в Apple iPhone, возврат возможен до момента активации смартфона
						<br>
						<span class="blue">•</span> сохранены его товарный вид
						<br>
						<span class="blue">•</span> сохранены его потребительские свойства
						<br>
						<span class="blue">•</span> сохранены фабричные ярлыки и пломбы
						<br>
						<span class="blue">•</span> имеется товарный и\или кассовый чек
						<br>
						<br>Покупатель имеет право обменять товар надлежащего качество на другое торговое предложение этого товара или другой товар, идентичный по стоимости или на иной товар с доплатой или возвратом разницы в цене.
						<br>
						<br>В случае использования услуги "Смартфон под ключ"возврат денежных средств производятся в полном объёме за вычетом оплаты услуги по подбору, 890руб, которая включена в итоговую стоимость приобретенного товара.
					</p>
				</article>
				<article>
					<h4>
						<warrantyIcon3></warrantyIcon3>Обмен товара ненадлежащего качества
					</h4>
					<p>В случае обнаружения потребителем недостатков приобретенного товара заводского характера в течение 14 дней, не считая дня покупки, продавец обязуется заменить такой товар в течение семи дней со дня обращения покупателя, а при необходимости дополнительной проверки качества такого товара – в течение двадцати дней с момента обращения. Заявленный недостаток необходимо подтвердить актом диагностики в сервисном центре. Предъявив акт, подтверждающий наличие недостатка, обратиться за заменой. Технически сложные товары ненадлежащего качества заменяются товарами той же марки или на аналогичный товар другой марки с перерасчётом стоимости. Возврат производится путем аннулирования договора купли-продажи и возврата суммы в размере стоимости товара.</p>
				</article>
			</div>
			<article>
				<h4></h4>
				<p>Хотим обратить Ваше внимание на то, что согласно закону о защите прав потребителей и другим нормативным актам, которые регулируют гарантийные вопросы, гарантия не распространяется на:
					<br>
					<span class="blue">•</span> повреждения, вызванные неправильным подключением, эксплуатацией оборудования в нештатном режиме либо в условиях, не предусмотренных _ производителем, а также возникшие вследствие действия сторонних обстоятельств (скачков напряжения электропитания, стихийных бедствий и т.д.);
					<br>
					<span class="blue">•</span> механические и электротермические повреждения;
					<br>
					<span class="blue">•</span> повреждения процессора, материнской платы, видеокарты и т.д., вызванные попытками эксплуатации в нештатном форсированном режиме с _ превышением номинальных эксплуатационных характеристик (оверклокинг);
					<br>
					<span class="blue">•</span> повреждения фирменных серийных номеров на устройстве;
					<br>
					<span class="blue">•</span> процессоры, поврежденные вследствие неправильного функционирования системы охлаждения;
					<br>
					<span class="blue">•</span> выпадение точек экрана жидкокристаллического монитора, а также любых иных товаров, имеющих жидкокристаллический экран, количеством не более _ 4-х (четырех) точек. Тем не менее, компания допускает отказ от работоспособного устройства при осуществлении услуги доставки. В этом случае товар, _ вывозится со склада компании силами покупателя;
					<br>
					<span class="blue">•</span> отсутствие в товаре функций, которые не предусмотрены Производителем.
					<br>
					<br>Наша гарантия не распространяется на случаи несовместимости приобретенного оборудования и оборудования покупателя. Мы отвечаем только за корректную работу каждой из товарных позиций в отдельности. Компания не несет ответственность за сохранность данных на цифровых носителях, подлежащих ремонту или замене по гарантии.
				</p>
			</article>
		</section>
		<popular-categories></popular-categories>
		<referal-banner></referal-banner>
	</main>
</template>

<script>
import copyIcon from "~/assets/images/icons/copy.svg";
import foreignIcon from "~/assets/images/icons/foreign.svg";
import warrantyIcon1 from "~/assets/images/icons/warrantyIcon1.svg";
import warrantyIcon2 from "~/assets/images/icons/warrantyIcon2.svg";
import warrantyIcon3 from "~/assets/images/icons/warrantyIcon3.svg";
import warrantyIcon4 from "~/assets/images/icons/warrantyIcon4.svg";

import PopularCategories from "~/components/PopularCategories.vue";
import ReferalBanner from "~/components/ReferalBanner.vue";

export default {
	components: {
		warrantyIcon1,
		warrantyIcon2,
		warrantyIcon3,
		warrantyIcon4,
		copyIcon,
		foreignIcon,
		PopularCategories,
		ReferalBanner
	}
};
</script>

<style lang="scss" scoped>
	.page-title {
		background: url(/images/bg/warranty.jpg) center center no-repeat;
		height: 350px;
	//	border-top: 5px solid #fff;
		color: #5d5d5d;
		font-size: 26px;
		font-weight: 300;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 50px;
	}
	section.page-body {
		line-height: 1.6;
		font-size: 14px;
		padding: 0 60px;
		@media screen and (max-width: 1240px) {
			padding: 0 20px;
		}
		.twin-wrap {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 40px;
			@media screen and (max-width: 1240px) {
				grid-template-columns: 1fr;
			}
		}
		h4 {
			display: flex;
			align-items: center;
			font-size: 18px;
			svg {
				height: 42px;
				fill: $blue;
				margin-right: 15px;
			}
		}
		p.ps {
			font-size: 12px;
		}
		a {
			color: $blue;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
		span.blue {
			color: #26d1c8;
		}
	}
</style>
