<template>
  <form class="checkout" @submit.prevent="checkForm()">
    <div class="block">
      <div class="title">Персональные данные</div>
      <div class="form-group">
        <label for="firstname">Ваше имя*</label>
        <input
          required
          id="firstname"
          name="firstname"
          type="text"
          v-model="name.value"
          :class="{ error: name.error}"
        >
      </div>
      <div class="form-group">
        <label for="phone">Номер телефона*</label>
        <the-mask
          required
          id="phone"
          name="phone"
          type="tel"
          :masked="true"
          :mask="'+7 (###) ###-##-##'"
          v-model="phone.value"
          :class="{ error: phone.error}"
        />
      </div>
      <div class="form-group">
        <label for="email">Электронная почта*</label>
        <input
          id="email"
          name="email"
          type="email"
          v-model="email.value"
          :class="{ error: email.error}"
        >
      </div>
      <div class="form-group">
        <label for="city">Город</label>
        <input
          :disabled="deliveryType === 'pickup'"
          id="city"
          name="city"
          type="text"
          v-model="city"
        >
      </div>
      <div class="address-wrap">
        <div class="form-group">
          <label for="street">Улица</label>
          <input
            :disabled="deliveryType === 'pickup'"
            id="street"
            name="street"
            type="text"
            v-model="street"
          >
        </div>
        <div class="form-group">
          <label for="house">Номер дома</label>
          <input
            :disabled="deliveryType === 'pickup'"
            id="house"
            name="house"
            type="text"
            v-model="house"
          >
        </div>
      </div>
      <div class="form-group">
        <label for="apartment">Номер квартиры</label>
        <input id="apartment" name="apartment" type="number" v-model="apartment">
      </div>
      <div class="form-group">
        <label for="comments">Ваш комментарий</label>
        <textarea id="comments" name="comments" type="text" v-model="comments"></textarea>
      </div>
    </div>
    <div class="block">
      <div class="title">Способ доставки</div>
      <div class="delivery-radio">
        <label class="radio-button-block" :class="{active: deliveryType === 'delivery'}">
          <input
            type="radio"
            v-model="deliveryType"
            name="deliveryType"
            id="delivery"
            @change="toggleDeliveryType"
            value="delivery"
          >
          <div class="name">Доставка курьером</div>
          <div class="text">Стоимость - от 390 рублей</div>
        </label>
        <label class="radio-button-block" :class="{active: deliveryType === 'deliveryInRegion'}">
          <input
            type="radio"
            v-model="deliveryType"
            name="deliveryType"
            id="deliveryInRegion"
            value="deliveryInRegion"
            @change="toggleDeliveryType"
          >
          <div class="name">Доставка курьером по Московской области</div>
          <div class="text">Стоимость - от 890 руб.* до 10км за МКАД</div>
        </label>
        <label class="radio-button-block" :class="{active: deliveryType === 'deliveryExpress'}">
          <input
            type="radio"
            v-model="deliveryType"
            name="deliveryType"
            id="deliveryExpress"
            value="deliveryExpress"
            @change="toggleDeliveryType"
          >
          <div class="name">Экспресс доставка курьером</div>
          <div class="text">Стоимость - от 890 руб.</div>
        </label>
        <label class="radio-button-block" :class="{active: deliveryType === 'pickup'}">
          <input
            type="radio"
            v-model="deliveryType"
            name="deliveryType"
            id="pickup"
            value="pickup"
            @change="toggleDeliveryType"
          >
          <div class="name">Самовывоз</div>
          <div class="text">Вам придется ехать к нам - бесплатно</div>
        </label>
      </div>
      <div class="title">Способ оплаты</div>
      <div class="payment-radio">
        <label class="radio-button-block" :class="{active: paymentType === 'card'}">
          <input type="radio" v-model="paymentType" name="payment" value="card">
          <div class="text">Картой</div>
        </label>
        <label class="radio-button-block" :class="{active: paymentType === 'cash'}">
          <input type="radio" v-model="paymentType" name="payment" value="cash">
          <div class="text">Наличными</div>
        </label>
      </div>
    </div>
  </form>
</template>

<script>
import { mapActions } from "vuex";

export default {
  props: ["deliveryPrice"],
  data() {
    return {
      name: {
        value: "",
        error: false
      },
      phone: {
        value: "",
        error: false
      },
      email: {
        value: "",
        error: false
      },
      city: "",
      street: "",
      house: "",
      comments: "",
      apartment: "",
      deliveryType: "delivery",
      paymentType: "card"
    };
  },
  created() {
    this.toggleDelivery("delivery");
  },
  methods: {
    ...mapActions("cart", ["toggleDelivery"]),
    validateEmail(email) {
      const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(String(email).toLowerCase());
    },
    toggleDeliveryType() {
      this.toggleDelivery(this.deliveryType);
    },
    switchTypeDelivery(type) {
      switch (type) {
        case "delivery":
          return 1;
        case "pickup":
          return 2;
        case "deliveryInRegion":
          return 3;
        case "deliveryExpress":
          return 4;
        default:
          return 1;
      }
    },
    switchTypePayment(type) {
      switch (type) {
        case "card":
          return 1;
        case "cash":
          return 2;
        default:
          return 1;
      }
    },
    checkForm() {
      let countError = 0;
      if (this.name.value.length < 1) {
        this.name.error = true;
        countError++;
      } else {
        this.name.error = false;
      }

      if (!this.validateEmail(this.email.value)) {
        this.email.error = true;
        countError++;
      } else {
        this.email.error = false;
      }

      if (this.phone.value.length < 18) {
        this.phone.error = true;
        countError++;
      } else {
        this.phone.error = false;
      }
      if (countError === 0) {
        const _typeDelivery = this.switchTypeDelivery(this.deliveryType);
        const _typePayment = this.switchTypePayment(this.paymentType);
        return {
          name: this.name.value,
          phone: this.phone.value,
          email: this.email.value,
          city: this.city,
          street: this.street,
          houseNumber: this.house,
          comments: this.comments,
          apartment: this.apartment,
          typeDelivery: _typeDelivery,
          typePayment: _typePayment
        };
      }
      return false;
    }
  }
};
</script>


<style lang="scss" scoped>
.checkout {
  background: #fafafa;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @media screen and (max-width: 500px) {
    grid-template-columns: 1fr;
    padding: 10px 0;
  }
  .block {
    padding: 30px;
    @media screen and (max-width: 500px) {
      padding: 10px;
    }
    .title {
      font-size: 22px;
      font-weight: 500;
      margin-bottom: 1em;
      @media screen and (max-width: 500px) {
        text-align: center;
      }
    }
    .address-wrap {
      display: grid;
      grid-template-columns: 1fr 130px;
      grid-gap: 8px;
      .form-group {
        input {
          margin-bottom: 0;
        }
      }
    }
    .form-group {
      label {
        display: block;
        font-size: 12px;
        color: #a6a6a6;
        padding: 4px 15px;
        cursor: pointer;
      }
      input {
        border: 1px solid #f0f0f0;
        border-radius: 2px;
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 40px;
        margin-bottom: 10px;
        padding: 0 15px;
        &.error {
          border-color: red;
        }
        &:disabled {
          background: transparent;
          color: transparent;
        }
      }

      textarea {
        border: 1px solid #f0f0f0;
        border-radius: 2px;
        background-color: rgb(255, 255, 255);
        width: 100%;
        min-height: 140px;
        resize: none;
      }
    }
    .delivery-radio {
      margin-bottom: 30px;
      .radio-button-block {
        cursor: pointer;
        margin-bottom: 8px;
        border-radius: 2px;
        border: 3px solid #f0f0f0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 14px;
        &.active {
          border-color: $blue;
        }
        input {
          display: none;
        }
        .name {
          font-weight: 500;
        }
        .text {
          font-size: 12px;
          color: #7f7f7f;
        }
      }
    }
    .payment-radio {
      display: flex;
      @media screen and (max-width: 500px) {
        justify-content: center;
      }
      .radio-button-block {
        position: relative;
        padding-left: 20px;
        margin-right: 15px;
        cursor: pointer;
        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          border-radius: 50%;
          border: 2px solid #cdcdcd;
          width: 12px;
          height: 12px;
          margin: auto;
        }
        &.active {
          &:before {
            border-color: $blue;
          }
        }
        input {
          display: none;
        }
        .name {
          font-weight: 500;
        }
        .text {
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }
}
</style>
