<template>
  <div id="container">
    <header-component></header-component>
    <nuxt/>
    <footer-component></footer-component>
    <callback-modal-component></callback-modal-component>
  </div>
</template>

<script>
import HeaderComponent from "~/components/HeaderComponent.vue";
import FooterComponent from "~/components/FooterComponent.vue";

export default {
  components: {
    HeaderComponent,
    FooterComponent,
    CallbackModalComponent: () =>
      import("~/components/CallbackModalComponent.vue")
  }
};
</script>


<style>
#container {
  overflow-x: hidden;
  max-width: 100%;
}
</style>

