<template>
  <div class="filter-block">
    <div v-if="title" class="head" @click="toggleCategory()">
      <div class="icon-block">
        <arrowPointToRight :class="{active: blockActive}"></arrowPointToRight>
      </div>
      {{title}}
			<div class="subtitle">{{subtitle}}</div>
    </div>
    <div v-if="blockActive" class="body">
      <slot></slot>
    </div>
  </div>
</template>

<script>
import arrowPointToRight from "~/assets/images/icons/arrow-point-to-right.svg";

export default {
  props: {
		title: {
			default: undefined
		},
		subtitle: {
			default: ""
		},
	},
  components: {
    arrowPointToRight
  },
  data() {
    return {
      blockActive: true
    };
  },
  methods: {
    toggleCategory() {
      return (this.blockActive = !this.blockActive);
    }
  }
};
</script>

<style lang="scss" scoped>
.filter-block {
  background: #f7f7f7;
  padding: 16px;
  .head {
    display: flex;
    align-items: center;
    font-size: 21px;
    cursor: pointer;
    .icon-block {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      border: 2px solid #ffc28e;
      margin-right: 12px;
      svg {
        height: 10px;
        width: 10px;
        transform: rotate(90deg);
        fill: #ffc28e;
        &.active {
          transform: rotate(-90deg);
        }
      }
		}
		.subtitle {
			font-weight: 300;
			font-size: 16px;
			opacity: .5;
			margin-left: 10px;
			padding-top: 2px;
		}
  }
  .body {
  }
}
</style>

