<template>
  <h3>
    <img class="icon" src="/images/title_icon.svg" alt>
    {{title}}
  </h3>
</template>

<script>
//import TitleLogo from "~/assets/images/icons/title_icon.svg";

export default {
  props: {
    title: {
      default: ""
    }
  }
};
</script>


<style lang="scss" scoped>
h3 {
  font-size: 28px;
  font-weight: 500;
  max-width: 1240px;
  width: 100%;
  margin: 0 auto 40px;
  display: flex;
  padding: 50px 0 0;
  align-items: flex-start;
  .icon {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    transform: rotate(90deg);
  }
  @media screen and (max-width: 1240px) {
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
}
</style>
