<template>
  <modal
    :width="'95%'"
    :maxWidth="680"
    :minHeight="390"
    transition="scale"
    name="callback"
    :adaptive="true"
  >
    <div class="modal__content">
      <span class="modal__hero">
        <div class="modal__img">
          <img src="/images/callback_hero.png" alt="Спасибо!">
        </div>
      </span>
      <div @click="hide" class="modal__close">
        <CloseModal class="close-icon"></CloseModal>
      </div>
      <div class="modal__text">
        <div class="modal__title">Закажите звонок</div>
        <div
          class="modal__subtitle"
        >Мы перезвоним в течение рабочего дня и с удовольствием ответим на все впросы о нашем интернет-магазине</div>
        <form class="modal__form" @submit.prevent="checkForm()">
          <div class="from__group">
            <input
              type="text"
              v-model="info.name.value"
              :class="['form__input', {notEmpty: info.name.value , error: info.name.error}]"
              placeholder="Ваше имя"
              required
            >
          </div>
          <div class="from__group">
            <the-mask
              type="text"
              v-model="info.phone.value"
              :class="['form__input', {notEmpty: info.phone.value , error: info.phone.error}]"
              :masked="true"
              :mask="'+7 (###) ###-##-##'"
              required
              placeholder="Номер телефона"
            />
          </div>
          <div
            v-if="successModal"
            class="successMsg"
          >Спасибо! Наш оператор перезвонит вам в ближайшее время!</div>
          <button class="button" type="submit" @submit="checkForm">Заказать</button>
        </form>
      </div>
    </div>
  </modal>
</template>

<script>
import CloseModal from "~/assets/images/icons/close_modal.svg";

export default {
  name: "callback",
  components: {
    CloseModal
  },
  data: () => ({
    successModal: false,
    info: {
      name: {
        value: "",
        error: false
      },
      phone: {
        value: "",
        error: false
      }
    }
  }),
  methods: {
    hide() {
      this.$modal.hide("callback");
    },
    async checkForm() {
      let errorsCount = 0;
      for (let iterator in this.info) {
        if (!this.info[iterator].value.length) {
          this.info[iterator].error = true;
          errorsCount++;
        } else {
          this.info[iterator].error = false;
        }
      }
      if (errorsCount == 0) {
        const { data } = await this.$axios.post("/notification/callback", {
          name: this.info.name.value,
          phone: this.info.phone.value
        });

        if (data.success) {
          this.info.name.value = "";
          this.info.phone.value = "";
          this.successModal = true;
          setTimeout(() => {
            this.successModal = false;
            this.$modal.hide("callback");
          }, 5000);
        }
      }
    }
  }
};
</script>

<style lang="scss">
.v--modal-overlay {
  background: rgba(29, 40, 61, 0.5) !important;
}
.v--modal {
  position: relative;
  width: 95%;
  border-radius: 4px;
  background-image: linear-gradient(
    0deg,
    rgb(0, 72, 130) 0%,
    rgb(46, 88, 171) 100%
  );
  overflow: visible !important;
}

.modal__hero {
  width: 235px;
  position: absolute;
  right: 0;
  bottom: -3px;
  left: 0;
}

.modal__img {
  width: 235px;
  height: 450px;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  @media screen and (max-width: 760px) {
    display: none;
  }
}

.modal__content {
  padding: 30px;
  height: 100%;
  display: flex;
}

.modal__text {
  width: 100%;
  max-width: 330px;
  height: 100%;
  margin-left: auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 760px) {
    margin: auto;
  }
}

.modal__title {
  margin-bottom: 15px;
  font-size: 38px;
  font-family: "HelveticaNeueCyr";
  color: #fff;
  font-weight: bold;

  @media screen and (max-width: 440px) {
    font-size: 28px;
  }
}

.modal__subtitle {
  margin-bottom: 25px;
  font-size: 18px;
  font-family: "HelveticaNeueCyr";
  font-weight: 300;
  color: #fff;

  @media screen and (max-width: 440px) {
    font-size: 14px;
  }
}

.modal__form,
.from__group,
.form__input,
.button {
  width: 100%;
}

.from__group {
  margin-bottom: 15px;
}

.button {
  margin-top: 15px;
  height: 41px;
  line-height: 41px;
  border: 2px solid rgb(255, 255, 255);
  color: #fff;
  font-size: 18px;
  transition: all 0.25s ease;

  &:hover {
    color: #000;
    background-color: #fff;
  }
}

.form__input {
  padding: 0 15px;
  height: 41px;
  line-height: 41px;
  border: 2px solid rgb(112, 135, 180);
  background-color: rgb(255, 255, 255);

  &::placeholder {
    color: rgb(189, 189, 189);
  }
}
.successMsg {
  font-size: 14px;
  color: #fff;
}

.modal__close {
  cursor: pointer;
  position: absolute;
  right: -20px;
  top: -40px;
  font-size: 20px;
  height: 20px;

  .close-icon {
    width: 1em;
    height: 1em;
    fill: #cacccf;
  }

  @media screen and (max-width: 760px) {
    top: 10px;
    right: 10px;
    fill: #fff;
  }
}
</style>
