<template>
  <div class="filters">
    <filter-block title="Категория">
      <ul>
        <li
          v-for="category in categories"
          :key="category.id"
          :class="{active: checkCategory(category.id)}"
          @click="activeCategory(category.id)"
        >
          {{ category.title }}
          <div class="quantity">{{category.countProducts}}</div>
        </li>
      </ul>
    </filter-block>
    <filter-block title="Цена" subtitle="(руб)">
      <div class="price-range-wrap">
        <div class="input-wrap">
          <input
            :value="rangePriceFrom.val"
            @input="this.rangePriceFromChange"
            :placeholder="rangePriceFrom.placeholder"
            type="number"
          >
        </div>
        <div class="input-wrap">
          <input
            :value="rangePriceTo.val | maxPrice"
            @input="this.rangePriceToChange"
            :placeholder="rangePriceTo.placeholder"
            type="number"
          >
        </div>
      </div>
    </filter-block>
    <filter-block title="Бренд" v-if="brands.length">
      <div class="brands-wrap">
        <div
          v-for="brand in brands"
          :key="brand.id"
          class="brand-block"
          :class="{active: checkBrand(brand.id)}"
          @click="toggleBrand({brandId: brand.id, categoryId: filters.category})"
        >
          {{ brand.title }}
          <div class="num">{{ brand.countProducts }}</div>
          <button class="disabled">
            <close></close>
          </button>
        </div>
        <!-- <div class="load-more">Показать все</div> -->
      </div>
    </filter-block>
    <filter-block>
      <!-- <p class="tac">Найдено {{products.length}} товаров</p> -->
      <!-- <button class="button" @click="applyFilter()">Показать</button> -->
      <button class="button reset" @click="resetFilters()">Очистить фильтр</button>
    </filter-block>
  </div>
</template>

<script>
import FilterBlock from "~/components/_FilterBlock.vue";

import close from "~/assets/images/icons/close.svg";
import { mapActions, mapState, mapGetters } from "vuex";

export default {
  components: {
    FilterBlock,
    close
  },
  watch: {
    filters: {
      deep: true,
      handler() {
        this.applyFilter();
      }
    }
  },
  computed: {
    ...mapState("catalog", [
      "brands",
      "categories",
      "filters",
      "products",
      "sorting"
    ]),
    ...mapGetters("catalog", ["checkCategory", "checkBrand", "brands"]),
    rangePriceFrom() {
      return this.filters.rangePrice.from;
    },
    rangePriceTo() {
      return this.filters.rangePrice.to;
    },
    brands() {
      let brands = this.categories.find(
        element => element.id === this.filters.category
      );
      if (brands) {
        return brands.brands;
      }
      return [];
    }
  },
  methods: {
    ...mapActions("catalog", [
      "applyFilter",
      "toggleBrand",
      "activeCategory",
      "rangePriceFromChange",
      "rangePriceToChange",
      "resetFilters"
    ])
  },
  filters: {
    minPrice: function(value) {
      if (value > 10000) {
        return (value = 1000);
      }
      return value;
    },
    maxPrice: function(value) {
      if (value > 150000) {
        return (value = 150000);
      }
      return value;
    }
  }
};
</script>

<style lang="scss" scoped>
.filters {
  display: grid;
  grid-gap: 2px;
  width: 330px;
  position: sticky;
  position: -webkit-sticky;
  top: 127px;
  ul {
    list-style: none;
    padding: 10px 0;
    margin: 0;
    li {
      padding: 5px 0;
      font-size: 15px;
      color: #808080;
      display: flex;
      align-items: center;
      cursor: pointer;
      &.active {
        color: #000;
        font-weight: 500;
      }
      .quantity {
        margin-left: 8px;
        font-size: 12px;
        color: #808080;
        padding-top: 2px;
      }
    }
  }
  .price-range-wrap {
    display: grid;
    grid-template-columns: repeat(2, 145px);
    justify-content: space-between;
    padding-top: 15px;
    .input-wrap {
      width: 100%;
      position: relative;
      &:before {
        content: "от";
        position: absolute;
        left: 12px;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        margin: auto;
      }
      &:last-child:before {
        content: "до";
      }
    }
    input {
      width: 100%;
      height: 40px;
      border: none;
      background-color: rgb(255, 255, 255);
      box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.13);
      padding-left: 38px;
      padding-right: 18px;
      @include input-placeholder {
        color: #bfbfbf;
      }
    }
  }
  .brands-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0 0;
    margin: -5px;
    .brand-block {
      border-radius: 4px;
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      padding: 0 30px 0 12px;
      margin: 5px;
      height: 26px;
      cursor: pointer;
      .num {
        position: absolute;
        right: 5px;
        top: 0;
        bottom: 0;
        margin: auto;
        font-size: 12px;
        opacity: 0.5;
        height: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;
        width: 20px;
      }
      .disabled {
        position: absolute;
        right: 5px;
        top: 0;
        bottom: 0;
        margin: auto;
        display: none;
        align-items: center;
        justify-content: center;
        fill: #fff;
        svg {
          font-size: 8px;
          width: 8px;
          height: 8px;
        }
      }
      &.active {
        background: $blue;
        color: #ffffff;
        &:hover {
          .num {
            display: none;
          }
          .disabled {
            display: flex;
          }
        }
      }
    }
    .load-more {
      font-weight: 300;
      font-size: 13px;
      opacity: 0.5;
      text-decoration: underline;
      margin: 5px;
    }
  }
  p.tac {
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    margin: 8px 0;
  }
  .button {
    width: 100%;
    height: 44px;
    border: 2px solid $blue;
    font-weight: 700;
    color: $blue;
    margin-top: 10px;
    &.reset {
      border-color: #d8d8d8;
      color: #d8d8d8;
      transition: 0.3s ease;
      &:hover {
        opacity: 1;
        color: $blue;
        border-color: $blue;
      }
    }
  }
}
</style>
