<template>
  <button ref="dropdownMenu" class="catalog-btn" @click="toggleDropdownVisible()">
    <menuButtonIcon></menuButtonIcon>Каталог товаров
    <div class="dropdown" v-if="visible">
      <div class="options">
        <div
          v-for="item in categories"
          :key="item.id"
          class="item"
          @mouseover.prevent="getBrands({categoryId: item.id, brands: item.brands})"
        >
          <nuxt-link to="/catalog" @click.native="activeCategory(item.id)">{{ item.title }}</nuxt-link>
          <arrow v-if="item.brands.length"></arrow>
        </div>
      </div>
      <div class="options" v-if="brands.length">
        <div v-for="item in brands" :key="item.id" class="item">
          <nuxt-link
            to="/catalog"
            @click.native="toggleBrand({categoryId, brandId: item.id})"
          >{{ item.title }}</nuxt-link>
        </div>
      </div>
    </div>
  </button>
</template>

<script>
import MenuButtonIcon from "~/assets/images/icons/menu-button.svg";
import arrow from "~/assets/images/icons/arrow-point-to-right.svg";

import { mapActions, mapState, mapGetters } from "vuex";

export default {
  components: {
    MenuButtonIcon,
    arrow
  },
  data() {
    return {
      visible: false,
      brands: []
    };
  },
  computed: {
    ...mapState("catalog", ["categories"])
  },
  methods: {
    ...mapActions("catalog", [
      "getCategories",
      "toggleBrand",
      "activeCategory"
    ]),
    getBrands(data) {
      this.categoryId = data.categoryId;
      this.brands = data.brands;
    },
    documentClick(e) {
      let el = this.$refs.dropdownMenu;
      let target = e.target;
      if (el !== target && !el.contains(target)) {
        this.visible = false;
      }
    },
    toggleDropdownVisible(e) {
      this.visible = !this.visible;
    }
  },
  created() {
    this.getCategories();
  },
  mounted() {
    document.addEventListener("click", this.documentClick);
  },
  destroyed() {
    document.removeEventListener("click", this.documentClick);
  }
};
</script>

<style lang="scss" scoped>
.catalog-btn {
  display: flex;
  align-items: center;
  font-weight: 700;
  height: 100%;
  color: #fff;
  padding: 0 16px;
  position: relative;
  svg {
    fill: #fff;
    width: 24px;
    height: 16px;
    margin-right: 16px;
    @media screen and (max-width: 1240px) {
      visibility: hidden;
    }
  }
  .dropdown {
    position: absolute;
    color: #444444;
    top: 100%;
    left: 0;
    z-index: 5;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    box-shadow: 0px 9px 43px 0px rgba(0, 0, 0, 0.08);
    .options {
      background: #fff;
      width: 260px;
      border-right: 1px solid #f5f5f5;
      padding: 10px 0;
      &:last-child {
        border-color: transparent;
      }
      &:first-child {
        padding: 0;
        .item {
          border-bottom: 1px solid #f5f5f5;
          height: 46px;
          font-size: 16px;
          &:last-child {
            border-bottom: transparent;
          }
          svg {
            width: 6px;
            height: 10px;
            font-size: 10px;
          }
        }
      }
      .item {
        padding: 3px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 15px;
        &.active {
          color: $blue;
          svg {
            fill: $blue;
          }
        }
        a {
          width: 100%;
          text-align: left;
          display: flex;
          align-items: center;
          height: 100%;
        }
        svg {
          fill: #444444;
          width: 6px;
          height: 8px;
          margin: 0;
          font-size: 8px;
        }
      }
    }
  }
}
</style>
