<template>
  <footer>
    <div class="body">
      <div class="content">
        <div class="left-wrap">
          <footer-logo-big></footer-logo-big>
          <div class="text">
            © 2019 Useit
            <br>интернет-магазин техники
            <br>и электронных аксессуаров
            <br>в Москве и Подмосковье
            <a
              href="/private_policy.pdf"
              target="_blank"
            >Пользовательское соглашение</a>
          </div>
        </div>
        <div class="column">
          <div class="title">Интернет-магазин</div>
          <nuxt-link to="/catalog">Каталог</nuxt-link>
          <nuxt-link
            v-for="item in brandsInFooter"
            :key="item.id"
            to="/catalog"
            @click.native="toggleBrand({categoryId: 1, brandId: item.id})"
          >{{ item.title }}</nuxt-link>
          <nuxt-link
            to="/catalog"
            v-for=" item in accessoriesInFooter"
            :key="item.id + 11"
            @click.native="activeCategory(item.id)"
            uu
          >{{ item.title }}</nuxt-link>
        </div>
        <div class="column hide-on-mobile">
          <div class="title">О компании</div>
          <nuxt-link
            v-for="link in nav"
            :key="link.id"
            :to="link.path"
            :target="link.target"
          >{{ link.text }}</nuxt-link>
        </div>
        <div class="column hide-on-mobile">
          <div class="title">Партнерам</div>
          <nuxt-link to="/">Партнеры</nuxt-link>
          <nuxt-link to="/">Как начать сотрудничество</nuxt-link>
          <div class="card-wrap">
            <div class="title">Мы принимаем</div>
            <div class="img-group">
              <img src="/images/visa.png" alt>
              <img src="/images/msc.png" alt>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="title">Помощь</div>
          <help-form></help-form>
        </div>
      </div>
    </div>
    <div class="bot-wrap">
      <div class="content">
        <div class="social-wrap">
          <div class="title">МЫ В СОЦСЕТЯХ</div>
          <social-links></social-links>
        </div>
        <nuxt-link to="/">
          <footer-logo></footer-logo>
        </nuxt-link>
        <a target="_blank" href="https://gc.moscow/" class="mi">
          Сделано в
          <gc-logo></gc-logo>
        </a>
      </div>
    </div>
  </footer>
</template>

<script>
import SocialLinks from "~/components/SocialLinks.vue";
import HelpForm from "~/components/HelpForm.vue";

import FooterLogo from "~/assets/images/icons/logo_white.svg";
import FooterLogoBig from "~/assets/images/icons/logo_white.svg";
import GcLogo from "~/assets/images/icons/gc-logo.svg";
import { mapActions, mapState, mapGetters } from "vuex";

export default {
  components: {
    HelpForm,
    SocialLinks,
    FooterLogo,
    FooterLogoBig,
    GcLogo
  },
  data() {
    return {
      nav: [
        { text: "Оплата / Доставка", path: "/delivery" },
        { text: "О нас", path: "/about" },
        { text: "Наши акции", path: "/stock.pdf", target: "_blank" },
        { text: "Гарантия и сервис", path: "/warranty" },
        { text: "Партнерство", path: "/partnership" },
        { text: "Контакты", path: "/contacts" }
      ]
    };
  },
  computed: {
    ...mapState("catalog", ["brandsInFooter", "accessoriesInFooter"])
  },
  mounted() {
    this.getCategories();
  },
  methods: {
    ...mapActions("catalog", ["getCategories", "toggleBrand", "activeCategory"])
  }
};
</script> <style lang="scss" scoped>
footer {
  height: 350px;
  background: $blue;
  display: grid;
  grid-auto-rows: 1fr 50px;
  color: #ffffff;
  @media screen and (max-width: 850px) {
    display: block;
    height: auto;
    width: 100%;
  }
  .body {
    padding: 20px 0 20px;
    height: 100%;
    @media screen and (max-width: 850px) {
      width: 100%;
    }
    .content {
      height: 100%;
      display: grid;
      justify-content: space-between;
      flex-direction: column;
      grid-template-columns: 250px 150px 150px 150px 400px;
      @media screen and (max-width: 850px) {
        display: flex;
      }
      .hide-on-mobile {
        @media screen and (max-width: 850px) {
          display: none;
        }
      }
      .left-wrap {
        font-size: 15px;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        svg {
          width: 130px;
          height: 45px;
        }
        .text {
          font-weight: 400;
          opacity: 0.5;
          margin-top: 20px;
          a {
            margin-top: 20px;
            display: block;
            text-decoration: underline;
            font-weight: 300;
            transition: 0.3s ease;
            &:hover {
              opacity: 0.5;
            }
          }
        }
        .card-wrap {
          .title {
            margin-top: 0;
          }
        }
      }
      .title {
        font-weight: 700;
        font-size: 18px;
        margin: 20px 0;
      }
      a {
        font-weight: 300;
        font-size: 15px;
        display: block;
        margin-bottom: 10px;
        transition: 0.3s ease;
        &:hover {
          opacity: 0.5;
        }
      }
      .img-group {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        justify-content: flex-start;
        grid-gap: 10px;
      }
    }
  }
  .bot-wrap {
    border-top: 1px solid #fff;
    height: 100%;
    .content {
      height: 100%;
      display: grid;
      align-items: center;
      justify-content: space-between;
      grid-template-columns: 1fr 90px 1fr;
      grid-gap: 10px;
      @media screen and (max-width: 850px) {
        grid-template-columns: 1fr 90px 86px;
      }
      .social-wrap {
        font-size: 10px;
        display: flex;
        align-items: center;
        .title {
          margin-right: 20px;
          text-transform: uppercase;
        }
        // .social-links {
        //   @media screen and (max-width: 850px) {
        //     flex-wrap: wrap;
        //   }
        // }
      }
      svg {
        width: 90px;
        height: 34px;
        fill: #fff;
      }
      .mi {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        opacity: 0.4;
        font-size: 14px;
        svg {
          fill: #fff;
          width: 11px;
          height: 19px;
          margin-left: 7px;
          margin-bottom: 4px;
        }
      }
    }
  }
}
</style>
