<template>
  <header>
    <div class="head">
      <div class="content">
        <nuxt-link to="/" class="header__logo">
          <header-logo class="logo"></header-logo>
        </nuxt-link>
        <nav>
          <span v-for="item in nav" :key="item.id">
            <nuxt-link v-if="!item.isBlank" :to="item.path">{{ item.text }}</nuxt-link>
            <a v-else :href="item.path" target="_blank">{{ item.text }}</a>
          </span>
        </nav>
        <div class="contacts">
          <div class="address">{{contacts.address.info}}</div>
          <div>
            <div class="phone">
              <span @click="showModal">Заказать звонок</span>
            </div>
            <a :href="'tel:' + contacts.tel1.info" class="phone-num">
              <phoneIcon></phoneIcon>
              {{ contacts.tel1.info }}
            </a>
          </div>
        </div>
        <social-links></social-links>
      </div>
    </div>

    <div class="mobile-head">
      <div class="hamburger" @click="openMobileMenu()">
        <component :is="mobileMenu ? 'closeIcon' : 'menuButtonIcon'"></component>
      </div>
      <nuxt-link to="/" class="mlogo">
        <header-mobile-logo class="mobile_logo"></header-mobile-logo>
      </nuxt-link>
      <span class="mobile-head__search_logo" @click="mobileSearch = true">
        <search-icon></search-icon>
      </span>
      <nuxt-link class="icons-button" to="/cart">
        <shoppingCartIcon></shoppingCartIcon>
        ({{cartProductsCount}})
      </nuxt-link>
      <div class="mobile-nav" :class="{active: mobileMenu}" @touchmove="prevent">
        <ul>
          <li @click="mobileCatalog = true">
            <a>Каталог товаров</a>
          </li>
          <li v-for="item in nav" :key="item.id">
            <nuxt-link :to="item.path" @click.native="mobileMenu = false">{{ item.text }}</nuxt-link>
          </li>
          <li>
            <a href="/stock.pdf" target="_blank">Наши акции</a>
          </li>
        </ul>
        <div class="contacts">
          <div class="phone">
            <span @click="showModal">Заказать звонок</span>
          </div>
          <a :href="'tel:' + contacts.tel1.info" class="phone-num">
            <phoneIcon></phoneIcon>
            {{ contacts.tel1.info }}
          </a>
          <div class="address">{{contacts.address.info}}</div>
        </div>
        <social-links></social-links>
      </div>
    </div>
    <div :class="['mobile-catalog', {active: mobileCatalog}]">
      <div class="mobile-catalog__head">
        <div class="close_icon" @click="mobileCatalog = false">
          <close-icon></close-icon>
        </div>
        <span class="mobile-catalog__title">Каталог товаров</span>
      </div>
      <div class="options">
        <div v-for="item in categories" :key="item.id" class="item">
          <nuxt-link to="/catalog" @click.native="handleCategoryItemClick(item.id)">{{ item.title }}</nuxt-link>
        </div>
      </div>
    </div>
    <div :class="['mobile-search', {active: mobileSearch}]">
      <div class="mobile-catalog__head">
        <div class="close_icon" @click="mobileSearch = false">
          <close-icon></close-icon>
        </div>
      </div>
      <div class="mobile-search__input">
        <search-component placeholder="Поиск..."></search-component>
        <div class="mobile-search__icon">
          <search-icon></search-icon>
        </div>
      </div>
    </div>
    <div class="body">
      <div class="content">
        <Catalog-dropdown></Catalog-dropdown>
        <search-component></search-component>
        <div class="buttons-wrap" @mouseover="cartStatus = true" @mouseout="cartStatus = false">
          <nuxt-link class="icons-button" to="/cart">
            <shoppingCartIcon></shoppingCartIcon>
            ({{cartProductsCount}})
          </nuxt-link>
          <transition name="fade">
            <mini-cart v-if="cartStatus"></mini-cart>
          </transition>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
import HeaderLogo from "~/assets/images/icons/main_logo.svg";
import HeaderMobileLogo from "~/assets/images/icons/mob_logo.svg";
import PhoneIcon from "~/assets/images/icons/phone-receiver.svg";
import MenuButtonIcon from "~/assets/images/icons/menu-button.svg";
import closeIcon from "~/assets/images/icons/closeIcon.svg";
import UserIcon from "~/assets/images/icons/user.svg";
import StarIcon from "~/assets/images/icons/star.svg";
import ShoppingCartIcon from "~/assets/images/icons/shopping-cart-black-shape.svg";
import SearchIcon from "~/assets/images/icons/search.svg";
import CatalogDropdown from "~/components/CatalogDropdown.vue";
import SocialLinks from "~/components/SocialLinks.vue";
import miniCart from "~/components/miniCart.vue";
import SearchComponent from "~/components/SearchComponent.vue";

import { mapGetters, mapState, mapActions } from "vuex";

export default {
  components: {
    HeaderLogo,
    HeaderMobileLogo,
    PhoneIcon,
    closeIcon,
    UserIcon,
    StarIcon,
    ShoppingCartIcon,
    MenuButtonIcon,
    SocialLinks,
    miniCart,
    SearchComponent,
    CatalogDropdown,
    SearchIcon
  },
  computed: {
    ...mapGetters("cart", ["cartProductsCount"]),
    ...mapState("contacts", ["contacts"]),
    ...mapState("catalog", ["categories"])
  },
  data() {
    return {
      nav: [
        {
          text: "Оплата / Доставка",
          path: "/delivery",
          isBlank: false
        },
        {
          text: "О нас",
          path: "/about",
          isBlank: false
        },
        {
          text: "Гарантия и сервис",
          path: "/warranty",
          isBlank: false
        },
        {
          text: "Партнерство",
          path: "/partnership",
          isBlank: false
        },
        {
          text: "Наши акции",
          path: "/stock.pdf",
          isBlank: true
        },
        {
          text: "Контакты",
          path: "/contacts",
          isBlank: false
        }
      ],
      cartStatus: false,
      mobileMenu: false,
      mobileCatalog: false,
      mobileSearch: false
    };
  },
  watch: {
    $route(to, from) {
      this.mobileMenu = false;
      this.mobileSearch = false;
      this.mobileCatalog = false;
    }
  },
  methods: {
    ...mapActions("catalog", ["activeCategory"]),
    openMobileMenu() {
      this.mobileMenu = !this.mobileMenu;
    },
    prevent(e) {
      e.preventDefault();
      e.stopPropagation();
    },
    showModal() {
      this.$modal.show("callback");
    },
    handleCategoryItemClick(id) {
      this.mobileMenu = false;
      this.mobileCatalog = false;
      this.activeCategory(id);
    }
  }
};
</script>


<style lang="scss">
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  background: #fff;
  .mobile-catalog {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 5;
    top: 0;
    background: #fff;
    width: 100%;
    height: calc(100vh - 75px);
    transform: scaleY(0);
    transition: 0.2s ease;
    &.active {
      transform: scaleY(1);
      opacity: 1;
      visibility: visible;
    }
    .options {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .item {
        padding: 15px 0;
        font-size: 14px;
      }
    }
    &__head {
      display: flex;
      align-items: center;
      padding: 30px;
      display: flex;
    }
    &__title {
      flex-grow: 1;
      font-size: 16px;
      color: #165096;
      text-align: center;
    }
  }
  .mobile-search {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 10;
    top: 0;
    background: #fff;
    width: 100%;
    height: 100vh;
    transform: scaleY(0);
    transition: all 0.23s ease;
    &.active {
      transform: scaleY(1);
      opacity: 1;
      visibility: visible;
    }
  }
  .mobile-search__input {
    padding: 0 20px;
    display: flex;
    align-items: center;
    height: 60px;
    border-top: 2px #1b529a solid;
    border-bottom: 2px #1b529a solid;
    .search-wrap {
      box-shadow: none;
      input {
        padding: 0;
        color: #000;
        &::placeholder {
          color: #cfcfcf;
        }
      }
      svg {
        display: none;
      }
    }
    input {
      flex-grow: 1;
      border: 0;
      font-size: 16px;
    }
  }
  .mobile-search__icon {
    font-size: 20px;
    fill: #1b529a;
    svg {
      width: 1em;
      height: 1em;
    }
  }
  .contacts {
    display: grid;
    grid-template-columns: 110px 1fr;
    grid-column-gap: 25px;
    align-items: center;
    text-align: right;
    @media screen and (max-width: 1240px) {
      display: flex;
      flex-direction: column;
    }
    .address {
      color: #bebebe;
      font-size: 12px;
    }
    .phone {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      color: $blue;
      font-weight: 700;
      margin-bottom: 6px;
      font-size: 14px;
      text-decoration: underline;
      cursor: pointer;
    }
    .phone-num {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 12px;
      color: $blue;
      svg {
        fill: $blue;
        margin-right: 4px;
        width: 12px;
        height: 12px;
      }
    }
  }
  .social-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      .icon {
        transition: 0.3s ease;
        // animation: 1.4s ease-in-out 0s normal none infinite running
        //   trambling-animation;
        margin: 0;
        fill: #2e58ab;
      }
      @keyframes trambling-animation {
        0%,
        50%,
        100% {
          transform: rotate(0deg) scale(1);
        }
        10%,
        30% {
          transform: rotate(-10deg) scale(1.05);
        }
        20%,
        40% {
          transform: rotate(10deg) scale(1.05);
        }
      }
    }
  }
  .head {
    @media screen and (max-width: 1240px) {
      display: none;
    }
    .content {
      display: grid;
      grid-template-columns: 130px 1fr 255px 80px;
      grid-gap: 40px;
      height: 75px;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      nav {
        display: grid;
        grid-auto-flow: column;
        justify-content: flex-start;
        a {
          padding: 12px;
          opacity: 0.8;
          transition: 0.3s ease;
          font-size: 14px;
          color: #000;
          &.nuxt-link-exact-active {
            color: $blue;
          }
          &:hover {
            opacity: 1;
          }
        }
      }
      .header__logo {
        width: 140px;
        height: 64px;
      }
      .logo {
        width: 100%;
      }
    }
  }
  .body {
    background: $blue;
    @media screen and (max-width: 500px) {
      display: none;
    }
    .content {
      height: 50px;
      display: grid;
      align-items: center;
      grid-template-columns: 260px 1fr 220px;
      @media screen and (max-width: 1240px) {
        grid-template-columns: 260px 1fr;
        padding: 0;
      }
      .buttons-wrap {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        position: relative;
        @media screen and (max-width: 1240px) {
          display: none;
        }
        .icons-button {
          height: 100%;
          color: #ffffff;
          display: flex;
          align-items: center;
          padding-right: 16px;
          margin-left: 14px;
          font-size: 15px;

          &:before {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            height: 40px;
            border-right: 2px solid rgba(255, 255, 255, 0.15);
          }
          svg {
            margin-right: 13px;
            height: 20px;
            width: auto;
            fill: #fff;
          }
        }
      }
    }
  }
  .mobile-head {
    height: 75px;
    display: none;
    position: relative;
    @media screen and (max-width: 1240px) {
      padding: 0 20px;
      display: grid;
      grid-template-columns: 1fr 60% 1fr 1fr;
    }
    .hamburger {
      position: relative;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: $blue;
      margin: auto;
      font-size: 18px;
      svg {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        width: 20px;
        height: 20px;
        fill: #fff;
      }
    }
    .mlogo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding-right: 15px;
      @media screen and (max-width: 850px) {
        justify-content: flex-start;
        padding-left: 10px;
      }
      svg {
        max-height: 45px;
        height: 100px;
      }
    }
    .icons-button {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 0 20px;
      color: $blue;
      @media screen and (max-width: 640px) {
        padding: 0;
      }
      svg {
        fill: $blue;
        width: 24px;
        height: 20px;
        margin-right: 5px;
      }
    }
    .mobile-nav {
      position: absolute;
      transform: scaleY(0);
      top: calc(100% + 3px);
      left: 0;
      width: 100%;
      height: calc(100vh - 40px);
      background: #fff;
      transition: 0.2s ease;
      z-index: 5;
      display: flex;
      flex-direction: column;
      align-items: center;
      //justify-content: space-between;
      overflow: auto;
      @media screen and (max-width: 850px) {
        padding-bottom: 50px;
      }
      @media screen and (max-width: 500px) {
        padding-bottom: 0px;
      }
      &.active {
        transform: scaleY(1);
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 50px 0;
        font-weight: 700;
        text-align: center;
        @media screen and (max-width: 850px) {
          padding: 0;
        }
        li {
          a {
            display: block;
            padding: 15px 0;
            @media screen and (max-width: 600px) {
              padding: 10px;
            }
          }
        }
      }
      .contacts {
        text-align: center;
        margin-top: auto;
        .phone {
          justify-content: center;
        }
        @media screen and (max-width: 500px) {
          margin: 15px 0;
        }
      }
      .social-links {
        margin: 30px auto;
        grid-gap: 15px;
        @media screen and (max-width: 500px) {
          margin: 30px 10px;
          margin-top: 0;
        }
      }
    }
    .mobile_logo {
      width: 100px;
    }
    .mobile-head__search_logo {
      display: flex;
      align-items: center;
      font-size: 19px;
      fill: #2e58ab;
      svg {
        width: 1em;
        height: 1em;
      }
    }
  }
  .mobile-link-catalog {
    display: none;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    background: $blue;
    height: 50px;
    @media screen and (max-width: 500px) {
      display: flex;
    }
  }

  .social-links {
    a {
      transition: all 0.2s ease;
    }
    a:hover {
      animation: shake 1200ms ease infinite;
    }
  }
}
.close_icon {
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 39px;
  height: 39px;
  border-radius: 50%;
  background-color: #165096;
  svg {
    width: 15px;
    height: 15px;
    fill: #fff;
  }
}

@keyframes shake {
  0% {
    transform: rotateZ(0deg);
  }
  10% {
    transform: rotateZ(-30deg);
  }
  20% {
    transform: rotateZ(15deg);
  }
  30% {
    transform: rotateZ(-10deg);
  }
  40% {
    transform: rotateZ(7.5deg);
  }
  50% {
    transform: rotateZ(-6deg);
  }
  60% {
    transform: rotateZ(5deg);
  }
  70% {
    transform: rotateZ(-4.28571deg);
  }
  80% {
    transform: rotateZ(3.75deg);
  }
  90% {
    transform: rotateZ(-3.33333deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
</style>
