<template>
  <form class="help-form" @submit.prevent="checkForm()">
    <div class="form-group">
      <input
        v-model="helpForm.name.value"
        :class="{notEmpty: helpForm.name.value , error: helpForm.name.error}"
        type="text"
        required
      >
      <label>Ваше имя</label>
    </div>
    <div class="form-group">
      <the-mask
        type="text"
        v-model="helpForm.phone.value"
        :class="{notEmpty: helpForm.phone.value , error: helpForm.phone.error}"
        :masked="true"
        :mask="'+7 (###) ###-##-##'"
        required
      />
      <label>Ваш номер телефона</label>
    </div>
    <div class="form-group gc-s2">
      <textarea
        v-model="helpForm.problem.value"
        :class="{notEmpty: helpForm.problem.value , error: helpForm.problem.error}"
        required
      ></textarea>
      <label>Проблема</label>
    </div>
    <div class="form-group">
      <input
        v-model="helpForm.orderNumber.value"
        :class="{notEmpty: helpForm.orderNumber.value , error: helpForm.orderNumber.error}"
        type="text"
        required
      >
      <label>Номер заказа</label>
    </div>
    <button>Отправить</button>
    <div
      v-if="successHelp"
      class="successMsg"
    >Спасибо! Наш оператор перезвонит вам в ближайшее время!</div>
  </form>
</template>

<script>
export default {
  data() {
    return {
      successHelp: false,
      helpForm: {
        name: {
          value: "",
          error: false
        },
        phone: {
          value: "",
          error: false
        },
        problem: {
          value: "",
          error: false
        },
        orderNumber: {
          value: "",
          error: false
        }
      }
    };
  },
  methods: {
    async checkForm(e) {
      let errorsCount = 0;
      for (let iterator in this.helpForm) {
        if (!this.helpForm[iterator].value.length) {
          this.helpForm[iterator].error = true;
          errorsCount++;
        } else {
          this.helpForm[iterator].error = false;
        }
      }
      if (errorsCount == 0) {
        const { data } = await this.$axios.post("/notification/help", {
          name: this.helpForm.name.value,
          phone: this.helpForm.phone.value,
          problem: this.helpForm.problem.value,
          orderNumber: this.helpForm.orderNumber.value
        });
        if (data.success) {
          this.successHelp = true;
          this.helpForm.name.value = "";
          this.helpForm.phone.value = "";
          this.helpForm.problem.value = "";
          this.helpForm.orderNumber.value = "";

          setTimeout(() => {
            this.successHelp = false;
          }, 1500);
        }
      }
    }
  }
};
</script>

<style lang="scss">
form.help-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  .gc-s2 {
    grid-column: span 2;
  }
  .form-group {
    width: 100%;
    position: relative;
    label {
      position: absolute;
      left: 10px;
      color: #aaaaaa;
      top: 13px;
      font-size: 16px;
      transition: 0.3s ease;
      pointer-events: none;
      @media screen and (max-width: 850px) {
        font-size: 14px;
      }
      @media screen and (max-width: 470px) {
        font-size: 12px;
      }
    }
    input,
    textarea {
      width: 100%;
      height: 42px;
      padding: 2px 8px 0;
      border: 2px solid #d7d7d7;
      color: #000;
      background: #fff;
      display: flex;
      &.error {
        border-color: red;
      }
      &.notEmpty ~ label {
        top: 4px;
        font-size: 10px;
        color: #000000;
      }
    }
    textarea {
      padding: 12px 8px;
      resize: none;
      height: 84px;
    }
  }
  button {
    width: 100%;
    height: 42px;
    border: 2px solid #fff;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    transition: 0.3s ease;
    &:hover {
      background: #fff;
      color: #000;
    }
  }

  .successMsg {
    grid-column: -1 / 1;
  }
}
</style>

