<template>
  <div class="index-banner">
    <no-ssr>
      <carousel
        ref="slider"
        :paginationEnabled="false"
        :autoplay="true"
        :autoplayTimeout="5000"
        :perPage="1"
        class="slider"
      >
        <slide
          v-for="item in banners"
          :key="item.id"
          class="slide"
          :style="{background: 'url(' + item.logo +') center center no-repeat'}"
        >
          <div class="content">
            <div class="text-wrap">
              <div class="category">{{item.product_type_name}} / {{item.brand_name}}</div>
              <div class="name">{{item.title}}</div>
              <div class="price">от {{numberFormat(item.cost)}}</div>
              <div class="desc" v-if="item.desc">{{item.desc}}</div>
              <a :href="item.link" class="button">Смотреть все</a>
              <div class="arrows">
                <button @click="prev()" class="prev">
                  <arrow></arrow>
                </button>
                <button @click="next()" class="next">
                  <arrow></arrow>
                </button>
              </div>
            </div>
          </div>
        </slide>
      </carousel>
    </no-ssr>
  </div>
</template>

<script>
import arrow from "~/assets/images/icons/arrow-point-to-right.svg";
import { mapGetters, mapState } from "vuex";

export default {
  components: {
    arrow
  },
  computed: {
    ...mapState(["banners"]),
    ...mapGetters(["numberFormat"])
  },
  methods: {
    next() {
      this.$refs.slider.advancePage();
    },
    prev() {
      this.$refs.slider.advancePage("backward");
    }
  }
};
</script>

<style lang="scss" scoped>
.index-banner {
  padding: 40px 0;
  overflow: hidden;
  height: 630px;
  @media screen and (max-width: 600px) {
    //height: 430px;
    padding: 0;
  }
  .slider {
    .slide {
      height: 550px;
      // @media screen and (max-width: 600px) {
      //   height: 350px;
      // }
      background-image: linear-gradient(
        15deg,
        rgb(255, 126, 141) 0%,
        rgb(255, 188, 173) 100%
      );
      .content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        @media screen and (max-width: 600px) {
          height: 100%;
        }
        .text-wrap {
          padding-top: 60px;
          @media screen and (max-width: 600px) {
            padding-top: 15px;
            width: 100%;
            text-align: center;
            height: 100%;
          }
          .category {
            color: #ffffff;
            font-size: 18px;
            @media screen and (max-width: 600px) {
              display: none;
            }
          }
          .name {
            font-weight: 700;
            font-size: 48px;
            margin: 20px 0 10px;
            @media screen and (max-width: 600px) {
              margin: 0;
              text-align: left;
            }
            @media screen and (max-width: 470px) {
              font-size: 20px;
            }
          }
          .price {
            color: #ffffff;
            font-weight: 700;
            font-size: 36px;
            @media screen and (max-width: 600px) {
              text-align: left;
              font-size: 20px;
            }
          }
          .desc {
            margin: 60px 0 20px;
            height: 60px;
            max-width: 210px;
            @media screen and (max-width: 600px) {
              display: none;
            }
          }
          .button {
            width: 220px;
            height: 46px;
            border-radius: 2px;
            border: 2px solid #000;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            transition: 0.3s ease;
            @media screen and (max-width: 600px) {
              position: absolute;
              z-index: 6;
              bottom: -20px;
              right: 0;
              left: 0;
              margin: 0 auto;
              color: #ffffff;
              background: #000;
            }
            &:hover {
              color: #ffffff;
              background: #000;
            }
          }
          .arrows {
            display: flex;
            padding: 20px 0;
            @media screen and (max-width: 600px) {
              position: absolute;
              width: 100%;
              left: 0;
              bottom: -40px;
              justify-content: space-between;
              display: flex;
              width: 95%;
            }
            button {
              display: flex;
              align-items: center;
              justify-content: center;
              background: #fff;
              opacity: 0.5;
              transition: 0.3s ease;
              width: 44px;
              height: 44px;
              border-radius: 50%;
              margin-right: 15px;
              &.prev {
                transform: rotate(180deg);
              }
              &:hover {
                opacity: 1;
              }
              svg {
                width: 16px;
                height: 20px;
                fill: #000;
              }
            }
          }
        }
      }
    }
  }
}
</style>
