<template>
  <div class="mini-cart">
    <div v-if="!cartProductsCount" class="empty">
      <h3>В корзине пусто</h3>
      <img src="/images/empty-cart-pic.png" alt>
      <nuxt-link class="button" to="/catalog">Начать покупки</nuxt-link>
    </div>
    <div class="list" v-if="cartProductsCount">
      <ul>
        <li class="product" v-for="product in cartProducts.slice(0, 3)" :key="product.id">
          <div class="img-wrap">
            <img :src="product.ProductImgSrc" alt>
          </div>
          <div class="text-wrap">
            <div class="name">{{product.name}}</div>
            <div class="count-wrap">
              <button @click="decrement(product)" class="decrement">-</button>
              <div class="count">{{product.count}}</div>
              <button @click="increment(product)" class="increment">+</button>
            </div>
          </div>
          <div class="price">{{numberFormat(product.price * product.count)}}</div>
          <button @click="remove(product)" class="remove">
            <remove></remove>
          </button>
        </li>
        <li v-if="cartProductsCount > 3">
          <div class="more-products">И еще {{ cartProductsCount - 3 }} продуктов</div>
        </li>
      </ul>
      <div class="total-price">Итого: {{numberFormat(totalPrice)}}</div>
      <nuxt-link class="button" to="/cart">Корзина</nuxt-link>
    </div>
  </div>
</template>

<script>
import deliveryBox from "~/assets/images/icons/delivery-box.svg";
import MarkerIcon from "~/assets/images/icons/MarkerIcon.svg";
import leftArrow from "~/assets/images/icons/left-arrow.svg";
import remove from "~/assets/images/icons/remove.svg";

import { mapState, mapGetters, mapActions } from "vuex";

export default {
  components: {
    remove
  },
  data() {
    return {
      stage: 0
    };
  },
  computed: {
    ...mapState("cart", ["cartProducts", "promoCodeName", "promoCodePercent"]),
    ...mapGetters("cart", [
      "cartProductsCount",
      "orderPrice",
      "discountFromPromoCode",
      "discount",
      "deliveryPrice",
      "totalPrice"
    ]),
    ...mapGetters(["numberFormat"])
  },

  methods: {
    ...mapActions("cart", [
      "decrement",
      "increment",
      "remove",
      "addedPromoCode"
    ]),
    nextStage() {
      return (this.stage = ++this.stage);
    }
  }
};
</script>

<style lang="scss" scoped>
.fade-enter-active,
.fade-leave-to {
  transition: 0.3s;
  transform: translateY(0);
}
.fade-enter,
.fade-leave-active {
  transition: 0.3s;
  opacity: 0;
  transform: translateY(-5%);
}

.mini-cart {
  border: 1px solid #f7f7f7;
  background: #ffffff;
  box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.25);
  width: 440px;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 3;
  padding: 20px;
  color: #222222;
  .button {
    font-weight: 700;
    width: 100%;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: $blue;
  }
  .empty {
    width: 100%;
    justify-items: center;
    display: grid;
    h3 {
      font-size: 20px;
      margin: 0;
    }
    img {
      margin: 20px 0;
    }
  }
  .list {
    text-align: center;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      .product {
        border-bottom: 2px solid #f7f7f7;
        padding: 10px 0;
        display: grid;
        grid-template-columns: 80px 1fr 100px;
        grid-gap: 10px;
        position: relative;
        .img-wrap {
          width: 80px;
          height: 80px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px;
          border: 2px solid #f7f7f7;
          img {
            max-width: 100%;
            max-height: 100%;
          }
        }
        .text-wrap {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          padding: 10px 0;
          .name {
            font-size: 14px;
            text-align: left;
            font-weight: 700;
          }
        }
        .count-wrap {
          display: grid;
          grid-template-columns: 20px 30px 20px;
          align-items: center;
          .count {
            font-size: 12px;
          }
          button {
            width: 100%;
            height: 20px;
            background: #f7f7f7;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        .price {
          align-self: flex-end;
          padding: 10px 0;
        }
        .remove {
          position: absolute;
          top: 20px;
          right: 0;
          svg {
            width: 14px;
            height: 16px;
            fill: #a6a6a6;
          }
        }
      }
      .more-products {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #888888;
        border-bottom: 2px solid #f7f7f7;
        padding: 10px 0;
        font-size: 14px;
      }
    }
    .total-price {
      color: #222222;
      font-size: 20px;
      font-weight: 700;
      padding: 20px 0;
    }
  }
}
</style>
