<template>
	<section class="popular-categories">
		<titleSection title="Популярные категории"></titleSection>
		<div class="content">
			<nuxt-link
				v-for="category in categories.slice(0, 6)"
				:key="category.id"
				:to="{ name: 'catalog'}"
				@click.native="activeCategory(category.id)"
				class="category"
			>
				<div class="img-wrap">
					<img :src="category.logo" alt>
				</div>
				<div class="name">{{category.title}}</div>
			</nuxt-link>
		</div>
	</section>
</template>

<script>
import TitleSection from "~/components/_TitleSection.vue";

import { mapActions, mapState } from "vuex";

export default {
	computed: {
		...mapState(["categories"])
	},
	methods: {
		...mapActions(["getCategories"]),
		...mapActions("catalog", ["activeCategory"])
	},
	created: function() {
		this.getCategories();
	},
	components: {
		TitleSection
	}
};
</script>

<style lang="scss" scoped>
	section.popular-categories {
		padding-bottom: 50px;
		.content {
			display: grid;
			grid-template-columns: repeat(auto-fit, 180px);
			grid-gap: 32px;
			@media screen and (max-width: 1240px) {
				grid-template-columns: repeat(auto-fit, 100px);
        justify-content: center;
        justify-items: center;
			}
			.category {
				.img-wrap {
					width: 180px;
					height: 180px;
					border-radius: 50%;
					overflow: hidden;
					display: flex;
					align-items: center;
					justify-content: center;
					background-image: linear-gradient(
						45deg,
						rgb(240, 240, 240) 0%,
						rgb(250, 250, 250) 100%
          );
          @media screen and (max-width: 1240px) {
            width: 100px;
            height: 100px;
          }
					img {
						max-width: 100%;
						width: 100%;
						max-height: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
				.name {
					font-size: 17px;
					text-align: center;
					margin-top: 28px;
				}
			}
		}
	}
</style>
