<template>
  <div class="product-item">
    <star-icon v-if="product.favorites" class="favorites"></star-icon>
    <nuxt-link :to="'/catalog/product/' + product.id" class="link">
      <div class="img-wrap">
        <img v-if="product.hit" src="/images/hit.png" class="hit">
        <img v-if="product.new" src="/images/new.png" class="new">
        <img :src="product.ProductImgSrc" alt>
      </div>
      <div class="type">{{product.type}}</div>
      <div class="name">{{product.name}}</div>
    </nuxt-link>
    <div class="star-wrap">
      <star-icon v-for="item in product.stars" :key="item.id" :class="{active: item}"></star-icon>
    </div>
    <div class="bot-wrap">
      <div class="price-wrap">
        <div v-if="product.oldPrice > 0" class="old-price">{{numberFormat(product.oldPrice)}}</div>
        <div class="price">{{numberFormat(product.price)}}</div>
      </div>
      <button
        :disabled="checkInCart(product.id)"
        @click="addToCart(product)"
      >{{ checkInCart(product.id)? "В корзине" : "Купить" }}</button>
    </div>
  </div>
</template>

<script>
import StarIcon from "~/assets/images/icons/star.svg";
import { mapActions, mapGetters } from "vuex";

export default {
  components: {
    StarIcon
  },
  props: {
    product: Object
  },
  computed: {
    ...mapGetters("cart", ["checkInCart"]),
    ...mapGetters(["numberFormat"])
  },
  methods: {
    ...mapActions("cart", ["addToCart"])
  }
};
</script>

<style lang="scss" scoped>
.product-item {
  padding: 40px 30px 76px;
  width: 294px;
  min-height: 460px;
  outline: 2px solid #f7f7f7;
  background: #fff;
  position: relative;
  .link {
    width: 100%;
    display: block;
  }
  .favorites {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 20px;
    right: 20px;
    fill: #4e27c2;
  }
  .img-wrap {
    width: 100%;
    height: 235px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    position: relative;
    .hit {
      position: absolute;
      top: -30px;
      left: 0;
    }
    .new {
      position: absolute;
      top: -30px;
      left: 0;
    }
    img {
      max-height: 100%;
      max-width: 100%;
      object-fit: cover;
    }
  }
  .type {
    font-size: 14px;
    color: #808080;
  }
  .name {
    font-weight: 500;
  }
  .star-wrap {
    display: grid;
    grid-template-columns: repeat(5, 14px);
    grid-gap: 6px;
    margin-top: 15px;
    svg {
      fill: #d8d8d8;
      &.active {
        fill: #26d1c8;
      }
    }
  }
  .bot-wrap {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .price-wrap {
      .old-price {
        font-size: 15px;
        color: #808080;
        text-decoration: line-through;
      }
      .price {
        font-size: 22px;
        font-weight: 700;
      }
    }
    button {
      width: 130px;
      height: 46px;
      border: 2px solid #000;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      transition: 0.3s ease;
      &:hover,
      &:disabled {
        background: #000;
        color: #ffffff;
      }
    }
  }
}
</style>
