<template>
  <section class="referal-banner">
    <div class="content">
      <div class="title">
        Получи скидку до 10%
        <br>за приглашенного друга
      </div>
      <img class="referal-banner__img" src="/images/bg/mobile-referal-banner.png" alt srcset>
      <a href="/stock.pdf" target="_blank">Подробнее</a>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
section.referal-banner {
  background: #f7f7f7;

  .content {
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(/images/bg/referal-banner.png) top no-repeat;
    @media screen and (max-width: 850px) {
      background-image: none;
    }
    .title {
      font-size: 42px;
      font-weight: 700;
      color: #393939;
      margin-bottom: 35px;
      @media screen and (max-width: 1050px) {
        font-size: 30px;
      }
      @media screen and (max-width: 850px) {
        margin-bottom: 0px;
        font-size: 24px;
      }
    }
    a {
      width: 180px;
      height: 46px;
      border: 2px solid #000;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      transition: 0.3s ease;
      &:hover {
        background: #000;
        color: #ffffff;
      }

      @media screen and (max-width: 1050px) {
        width: 160px;
        height: 40px;
      }
    }

    .referal-banner__img {
      display: none;
      width: 100%;
      height: auto;
      max-height: 220px;
      object-fit: cover;
      @media screen and (max-width: 850px) {
        display: block;
      }
    }
  }
}
</style>
