<template>
  <form class="search-wrap" ref="searchMenu">
    <input
      :placeholder="placeholder"
      type="text"
      @input="handleKeyUp"
      @click="showSearch = true"
      v-model="searchInput"
    >
    <searchIcon></searchIcon>
    <div v-if="showSearch" class="dropdown-wrap">
      <div v-for="block in resultSearch" :key="block.id" class="block">
        <div v-if="block.items.length" class="title">{{ block.name }}</div>
        <ul>
          <li v-for="item in block.items" :key="item.id">
            <nuxt-link :to="'/catalog/product/' + item.id">{{ item.title }}</nuxt-link>
          </li>
        </ul>
      </div>
    </div>
  </form>
</template>

<script>
import SearchIcon from "~/assets/images/icons/search.svg";
import { mapState, mapActions } from "vuex";

export default {
  components: {
    SearchIcon
  },
  props: {
    placeholder: {
      default: "Я хочу купить...",
      type: String
    }
  },
  data() {
    return {
      searchInput: "",
      showSearch: false
    };
  },
  computed: {
    ...mapState("search", ["resultSearch"])
  },
  methods: {
    ...mapActions("search", ["search"]),
    handleKeyUp() {
      this.showSearch = true;
      const value = this.searchInput
        .toString()
        .trim()
        .toLowerCase();
      this.search(value);
    },
    documentClick(e) {
      let el = this.$refs.searchMenu;
      let target = e.target;
      if (el !== target && !el.contains(target)) {
        this.showSearch = false;
      }
    }
  },
  mounted() {
    document.addEventListener("click", this.documentClick);
  },
  destroyed() {
    document.removeEventListener("click", this.documentClick);
  }
};
</script>

<style lang="scss" scoped>
.search-wrap {
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 3px 75px 0px rgba(0, 0, 0, 0.12);
  position: relative;
  input {
    background: transparent;
    height: 100%;
    width: 100%;
    color: #ffffff;
    border: none;
    padding: 0 45px;
    font-size: 15px;
    @include input-placeholder {
      color: #ffffff;
      opacity: 0.7;
    }
    &:focus {
      & ~ svg {
        opacity: 1;
      }
    }
  }
  svg {
    position: absolute;
    left: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
    fill: #fff;
    width: 16px;
    height: 16px;
    opacity: 0.7;
  }
  .dropdown-wrap {
    position: absolute;
    top: 100%;
    min-width: 100%;
    max-height: 500px;
    left: 0;
    background: #fff;
    box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow: auto;
    .block {
      padding-bottom: 10px;
      &:last-child {
        padding: 0;
      }
      .title {
        font-size: 17px;
        font-weight: 700;
        padding-bottom: 8px;
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 14px;
        overflow: auto;
        li {
          a {
            display: flex;
            align-items: center;
            padding: 6px 0;
          }
        }
      }
    }
  }
}
</style>
