<template>
  <div class="social-links">
    <a v-for="link in socialLinks" :key="link.name" :href="link.url"  target="_blank">
      <component :is="link.name" class="icon"></component>
    </a>
  </div>
</template>

<script>
import vk from "~/assets/images/icons/vk-social-network-logo.svg";
import instagram from "~/assets/images/icons/instagram-logo.svg";
import whatsapp from "~/assets/images/icons/whatsapp.svg";
import telegram from "~/assets/images/icons/telegram.svg";
import youla from "~/assets/images/icons/youla.svg";
import avito from "~/assets/images/icons/avito.svg";

export default {
  components: {
    vk,
    instagram,
    whatsapp,
    telegram,
    youla,
    avito,
  },
  computed: {
    socialLinks() {
      return this.$store.state.contacts.socialLinks
    }
  },
};
</script>

<style lang="scss">
.social-links {
  display: flex;
  align-items: center;
  .icon {
    width: 16px;
    max-height: 16px;
    fill: #fff;
    margin-right: 12px;
		opacity: 1;
		transition: .3s ease;
    &:hover {
      opacity: 0.7;
    }
  }
}
</style>
