<template>
  <div class="sorting">
    <label v-for="item in sorting" :key="item.id" :class="{checked: item.checked}">
      {{item.name}}
      <input v-model="item.checked" @change="changeSorting(item)" type="checkbox">
      <arrowPointToRight v-if="item.name === 'По цене'"></arrowPointToRight>
    </label>
  </div>
</template>

<script>
import arrowPointToRight from "~/assets/images/icons/arrow-point-to-right.svg";
import { mapActions } from "vuex";

export default {
  components: {
    arrowPointToRight
  },
  data() {
    return {
      sorting: [
        {
          name: "По цене",
          checked: true
        },
        {
          name: "По новизне",
          checked: false
        }
      ]
    };
  },
  mounted() {
    if (this.$route.query.by) {
      this.sorting[0].checked = false
      this.sorting[1].checked = true
      this.changeSorting({name: "По новизне"})
    }
  },
  watch: {
    sorting: {
      deep: true,
      handler() {
        this.applyFilter();
      }
    }
  },
  methods: {
    ...mapActions("catalog", ["changeSorting", "applyFilter"])
  }
};
</script>

<style lang="scss" scoped>
.sorting {
  height: 60px;
  background: #f7f7f7;
  margin: 0 -2px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  & > label {
    font-size: 14px;
    opacity: 0.5;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s ease;
    input {
      display: none;
    }
    &:first-child {
      color: $blue;
      opacity: 1;
      svg {
        transition: 0.3s ease;
        transform: rotate(90deg);
        height: 8px;
        font-size: 6px;
        margin-left: 5px;
        fill: $blue;
      }
      &.checked {
        svg {
          transform: rotate(-90deg);
        }
      }
    }
    &:hover {
      opacity: 1;
    }
    &.checked {
      opacity: 1;
      color: $blue;
    }
  }
}
</style>

