<template>
  <section class="worth-seeing">
    <title-section title="Стоит посмотреть"></title-section>
    <div class="content product-items">
      <product-item v-for="item in WorthSeeing" :product="item" :key="item.id">{{ item }}</product-item>
    </div>
    <nuxt-link to="/catalog" class="button">Смотреть все</nuxt-link>
    <div class="content banners" v-if="showBanners">
      <nuxt-link class="banner" to="/catalog" @click.native="filterByNew()">
        <img src="/images/new_products.png" alt>
      </nuxt-link>
      <nuxt-link class="banner" to="/catalog" @click.native="activeCategory(4)">
        <img src="/images/worth-seeing-banner-2.png" alt>
      </nuxt-link>
    </div>
  </section>
</template>

<script>
import TitleSection from "~/components/_TitleSection.vue";
import ProductItem from "~/components/ProductItem.vue";
import { mapActions, mapState } from "vuex";

export default {
  data() {
    return {
      banners: [
        {
          src: "/images/new_products.png",
          id: 1
        },
        {
          src: "/images/worth-seeing-banner-2.png",
          id: 4
        }
      ]
    };
  },
  components: {
    ProductItem,
    TitleSection
  },
  props: {
    showBanners: {
      type: Boolean,
      default: true
    }
  },
  computed: {
    ...mapState("catalog", ["WorthSeeing"])
  },
  methods: {
    ...mapActions("catalog", [
      "activeCategory",
      "getWorthSeeing",
      "toggleBrand",
      "filterByNew",
      "changeSorting"
    ])
  },
  created() {
    this.getWorthSeeing();
  }
};
</script>

<style lang="scss" scoped>
section.worth-seeing {
  .product-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 22px;
    @media screen and (max-width: 1240px) {
      grid-template-columns: repeat(auto-fit, 294px);
      justify-content: center;
      justify-items: center;
    }
  }
  .button {
    width: 200px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    transition: 0.3s ease;
    background: $blue;
    text-align: center;
    margin: 50px auto;
    color: #ffffff;
    transition: 0.3s ease;
    &:hover,
    &:disabled {
      opacity: 0.8;
    }
  }
  .banners {
    margin-top: 30px;
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 22px;
    @media screen and (max-width: 700px) {
      grid-template-columns: 1fr;
    }
    .banner {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      img {
        max-width: 100%;
        width: 100%;
      }
    }
  }
}
</style>
