@import "normalize";
// @import "global";

// Fonts
@font-face {
	font-family: "HelveticaNeueCyr";
	src: url("/fonts/helveticaneuecyr-black_0.otf") format("opentype");
	font-style: normal;
	font-weight: 800;
}
@font-face {
	font-family: "HelveticaNeueCyr";
	src: url("/fonts/helveticaneuecyr-bold_0.otf") format("opentype");
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: "HelveticaNeueCyr";
	src: url("/fonts/helveticaneuecyr-medium_0.otf") format("opentype");
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: "HelveticaNeueCyr";
	src: url("/fonts/helveticaneuecyr-roman_0.otf") format("opentype");
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: "HelveticaNeueCyr";
	src: url("/fonts/helveticaneuecyr-light_1.otf") format("opentype");
	font-style: normal;
	font-weight: 300;
}

// @import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,500i");

html,
body {
	width: 100%;
	min-width: 1280px;
	@media screen and (max-width: 1240px) {
		min-width: 340px;
	}
}

html {
	min-height: 100%;
	width: 100%;
}

body {
	font-family: "HelveticaNeueCyr", sans-serif, Arial;
	font-weight: 400;
	font-size: 100%;
	line-height: 1.2;
	background: #fff;
	color: #000;
	position: relative;
}

button {
	border: none;
	background: transparent;
	&:focus {
		outline: none;
		// box-shadow: 0 0 4px rgba(153,211,247,0.4);
	}
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
	-moz-appearance: number-input;
}

a {
	color: inherit;
	text-decoration: none;
}

main {
	min-height: calc(100vh - 477px);
}

h1,
h2,
h4 {
	font-weight: 700;
}

main {
	padding-top: 125px;
	@media screen and (max-width: 850px) {
		padding-top: 65px;
	}
}

.content {
	max-width: 1240px;
	width: 100%;
	margin: 0 auto;
	@media screen and (max-width: 1240px) {
		padding: 0 10px;
	}
}

.VueCarousel-wrapper {
	overflow: visible !important;
}

.page-enter-active,
.page-leave-active {
	transition: opacity 0.2s;
}
.page-enter,
.page-leave-active {
	opacity: 0;
}
