<template>
  <main class="product-view">
    <section class="product-view">
      <div class="content">
        <div class="breadcrumbs">
          <nuxt-link to="/">
            Главная
            <arrowPointToRight></arrowPointToRight>
          </nuxt-link>
          <nuxt-link to="/catalog" @click.native="getCategoryId(product.type)">
            {{ product.type }}
            <arrowPointToRight></arrowPointToRight>
          </nuxt-link>
          <nuxt-link to>{{ product.name }}</nuxt-link>
        </div>
        <article class="product-head">
          <product-gallery
            :hit="product.hit"
            :galleryItems="product.photos"
            :activeGalleryImg="activeGalleryImg"
            :vendorCode="product.vendor_code"
          ></product-gallery>
          <div class="product-info">
            <button :class="{active: favorites}" class="favorites" @click="toggleFavorites()">
              <star-icon></star-icon>
            </button>
            <div class="name">{{ product.type }}</div>
            <!-- TODO -->
            <!-- <div class="ratings-wrap">
              <div class="star-wrap">
                <star-icon v-for="item in stars" :key="item.id" :class="{active: item}"></star-icon>
              </div>
              <div class="num-ratings">{{reviews.length}} оценки</div>
            </div>
            <product-color></product-color>-->
            <!-- ENDTODO -->
            <div class="delivery-info-wrap">
              <div class="delivery-info">
                <MarkerIcon></MarkerIcon>
                <div class="text">Самовывоз - бесплатно</div>
              </div>
              <div class="delivery-info">
                <delivery-box></delivery-box>
                <div class="text">Доставка - {{ defaultDeliveryPrice }} рублей</div>
              </div>
            </div>
            <div class="price-and-buttons-wrap">
              <div class="price-wrap">
                <div class="head">Цена:</div>
                <div class="price">{{ numberFormat(product.price )}}</div>
              </div>
              <div class="buttons-wrap">
                <button
                  :disabled="checkInCart(product.id)"
                  @click="addToCart(product)"
                  class="button"
                >{{ checkInCart(product.id)? "В корзине" : "Купить" }}</button>
              </div>
            </div>
          </div>
        </article>
        <article class="product-desc-panel">
          <div class="panel-title-list">
            <button
              :class="{active: activePanel === 1}"
              class="panel-title"
              @click="activatePanel(1)"
            >Описание</button>
            <button
              :class="{active: activePanel === 2}"
              class="panel-title"
              @click="activatePanel(2)"
            >Характеристики</button>
            <!-- TODO -->
            <!-- <button
              :class="{active: activePanel === 3}"
              class="panel-title"
              @click="activatePanel(3)"
            >Отзывы ({{reviews.length}})</button>-->
            <!-- ENDTODO -->
          </div>
          <div class="panel-content-list">
            <div v-if="activePanel === 1" class="panel-content desc">
              <div class="title">О товаре</div>
              <div class="text-wrap" v-html="product.description"></div>
            </div>
            <div v-if="activePanel === 2" class="panel-content">
              <product-specifications :specifications="product.characteristics"></product-specifications>
            </div>
            <!-- TODO -->
            <!-- <div v-if="activePanel === 3" class="panel-content">
              <product-reviews :reviews="reviews"></product-reviews>
            </div>-->
            <!-- ENDTODO -->
          </div>
        </article>
      </div>
    </section>
    <worth-seeing :showBanners="false"></worth-seeing>
    <popular-categories></popular-categories>
    <referal-banner></referal-banner>
  </main>
</template>

<script>
import ProductSpecifications from "~/components/ProductView/ProductSpecifications.vue";
import ProductReviews from "~/components/ProductView/ProductReviews.vue";
import ProductColor from "~/components/ProductView/ProductColor.vue";
import ProductGallery from "~/components/ProductView/ProductGallery.vue";
import WorthSeeing from "~/components/WorthSeeing.vue";
import PopularCategories from "~/components/PopularCategories.vue";
import ReferalBanner from "~/components/ReferalBanner.vue";

import arrowPointToRight from "~/assets/images/icons/arrow-point-to-right.svg";
import StarIcon from "~/assets/images/icons/star.svg";
import deliveryBox from "~/assets/images/icons/delivery-box.svg";
import MarkerIcon from "~/assets/images/icons/MarkerIcon.svg";
import { mapActions, mapGetters, mapState } from "vuex";

export default {
  validate({ params, query }) {
    return /^\d+$/.test(params.id);
  },
  async fetch({ store, params }) {
    await store.dispatch("productView/getProduct", params);
  },
  components: {
    ProductSpecifications,
    ProductReviews,
    ProductColor,
    ProductGallery,
    arrowPointToRight,
    WorthSeeing,
    PopularCategories,
    ReferalBanner,
    StarIcon,
    deliveryBox,
    MarkerIcon
  },
  data() {
    return {
      activePanel: 1,
      type: "Смартфоны",
      name: "Apple iPhone XS Max 64 GB (Черный)",
      hit: true,
      favorites: true,
      oldPrice: "99 700",
      price: "89 700.-",
      stars: [" ", " ", " ", " ", ""],
      reviews: [
        {
          name: "Артём Кормаков",
          stars: [" ", " ", " ", " ", ""],
          avatar: "",
          date: "12 октября 2018",
          text:
            "С чего бы начать? Смартфон хороший, один из лучших на рынке. Стоит ли он своих денег? Нет. Думаю он раскроется через год, когда предыдущий флагман Iphone X будет подтормаживать на следующей версии IOS, на момент написания отзыва переплачивать за его покупку не вижу смысла, сравнивал лоб в лоб, скорость работы всех приложений и FaceID идентична до сотых долей миллисекунд. Хочу поругать комплектацию - зарядник на 1А и провод USB 2.0 в 2018 - это не серьезно. Еще и убрали переходник Lightning-minijack. Наверно только Apple может себе такое позволить, но лично для меня, если компания не исправится, это предпоследний или даже последний Iphone, конкуренты предлагают за эти деньги много вкусняшек. Немного расстроила матрица экрана. Кто не знает, основным поставщиком был Samsung, теперь еще и LG. У меня стоит похоже от LG, в отличие от матрицы Samsung отдает желтоватым оттенком, особо это видно при прямом сравнении телефонов с разными матрицами. ",
          pros:
            "С чего бы начать? Смартфон хороший, один из лучших на рынке. Стоит ли он своих денег? Нет. Думаю он раскроется через год, когда предыдущий флагман Iphone X будет подтормаживать на следующей версии IOS.",
          cons:
            "С чего бы начать? Смартфон хороший, один из лучших на рынке. Стоит ли он своих денег? Нет. Думаю он раскроется через г   предыдущий флагман Iphone X будет подтормаживать на следующей версии IOS, на момент написания отзыва переплачивать за его покупку не вижу смысла, сравнивал лоб в лоб, скорость  работы всех приложений и FaceID идентична до сотых долей миллисекунд."
        },
        {
          name: "Артём Кормаков",
          stars: [" ", " ", " ", " ", ""],
          avatar: "12 октября 2018",
          date: "12 октября 2018",
          text:
            "С чего бы начать? Смартфон хороший, один из лучших на рынке. Стоит ли он своих денег? Нет. Думаю он раскроется через год, когда предыдущий флагман Iphone X будет подтормаживать на следующей версии IOS, на момент написания отзыва переплачивать за его покупку не вижу смысла, сравнивал лоб в лоб, скорость работы всех приложений и FaceID идентична до сотых долей миллисекунд. Хочу поругать комплектацию - зарядник на 1А и провод USB 2.0 в 2018 - это не серьезно. Еще и убрали переходник Lightning-minijack. Наверно только Apple может себе такое позволить, но лично для меня, если компания не исправится, это предпоследний или даже последний Iphone, конкуренты предлагают за эти деньги много вкусняшек. Немного расстроила матрица экрана. Кто не знает, основным поставщиком был Samsung, теперь еще и LG. У меня стоит похоже от LG, в отличие от матрицы Samsung отдает желтоватым оттенком, особо это видно при прямом сравнении телефонов с разными матрицами. ",
          pros:
            "С чего бы начать? Смартфон хороший, один из лучших на рынке. Стоит ли он своих денег? Нет. Думаю он раскроется через год, когда предыдущий флагман Iphone X будет подтормаживать на следующей версии IOS.",
          cons:
            "С чего бы начать? Смартфон хороший, один из лучших на рынке. Стоит ли он своих денег? Нет. Думаю он раскроется через г   предыдущий флагман Iphone X будет подтормаживать на следующей версии IOS, на момент написания отзыва переплачивать за его покупку не вижу смысла, сравнивал лоб в лоб, скорость  работы всех приложений и FaceID идентична до сотых долей миллисекунд."
        }
      ]
    };
  },
  computed: {
    ...mapState("productView", ["product", "activeGalleryImg"]),
    ...mapState("cart", ["defaultDeliveryPrice"]),
    ...mapState("catalog", ["categories"]),
    ...mapGetters("cart", ["checkInCart"]),
    ...mapGetters(["numberFormat"])
  },
  methods: {
    ...mapActions("cart", ["addToCart"]),
    ...mapActions("catalog", ["activeCategory"]),
    activatePanel(id) {
      this.activePanel = id;
    },
    toggleFavorites() {
      this.favorites = !this.favorites;
    },
    getCategoryId(name) {
      this.activeCategory(this.categories.find(el => el.title == name).id);
    }
  }
};
</script>


<style lang="scss" scoped>
main {
  .breadcrumbs {
    padding: 22px 0 30px;
    display: flex;
    opacity: 0.75;
    flex-wrap: wrap;
    @media screen and (max-width: 650px) {
      justify-content: center;
    }
    a {
      margin-right: 10px;
      padding-right: 10px;
      position: relative;
      display: block;
      font-size: 14px;
      font-weight: 300;
      svg {
        position: absolute;
        right: -4px;
        width: 4px;
        height: 6px;
        font-size: 6px;
        top: 0;
        bottom: 0;
        margin: auto;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
  article.product-head {
    display: grid;
    grid-template-columns: 560px 1fr;
    grid-gap: 36px;
    margin-bottom: 30px;
    height: 480px;
    @media screen and (max-width: 900px) {
      grid-template-columns: 1fr 1fr;
      height: auto;
      justify-content: center;
    }
    @media screen and (max-width: 650px) {
      grid-template-columns: auto;
      height: auto;
      justify-content: center;
    }
    .product-info {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      @media screen and (max-width: 900px) {
        text-align: center;
        align-items: center;
      }
      button.favorites {
        position: absolute;
        right: 0;
        top: 5px;
        margin: auto;
        padding: 0;
        @media screen and (max-width: 900px) {
          position: static;
          margin: 20px 0;
        }
        svg {
          height: 24px;
          width: 24px;
          fill: #e6e6e6;
          font-size: 24px;
          transition: 0.3s ease;
        }
        &.active svg {
          fill: $blue;
        }
      }
      .name {
        font-size: 28px;
        font-weight: 500;
      }
      .ratings-wrap {
        display: flex;
        align-items: center;
        margin: 5px 0 15px;
        .star-wrap {
          display: grid;
          grid-template-columns: repeat(5, 14px);
          grid-gap: 6px;
          svg {
            fill: #d8d8d8;
            &.active {
              fill: #26d1c8;
            }
          }
        }
        .num-ratings {
          color: #a5a5a5;
          margin-left: 14px;
        }
      }
      .delivery-info-wrap {
        padding: 20px 0;
        .delivery-info {
          padding: 6px 0;
          display: flex;
          align-items: center;
          svg {
            height: 20px;
          }
          .text {
            font-size: 18px;
            font-weight: 500;
            margin-left: 10px;
          }
        }
      }
      .price-and-buttons-wrap {
        position: absolute;
        bottom: 0;
        left: 0;
        @media screen and (max-width: 900px) {
          position: static;
        }
        .price-wrap {
          margin-bottom: 20px;
          .head {
            font-size: 20px;
          }
          .price {
            font-weight: 500;
            font-size: 32px;
          }
        }
        .buttons-wrap {
          display: grid;
          grid-auto-flow: column;
          grid-gap: 10px;
          .button {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            border: 2px solid $blue;
            color: $blue;
            width: 220px;
            height: 46px;
            border-radius: 2px;
            &:hover,
            &:disabled {
              background: $blue;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
  article.product-desc-panel {
    .panel-title-list {
      display: grid;
      // grid-template-columns: repeat(3, 1fr);
      grid-template-columns: repeat(2, 1fr);
      box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.11);
      margin-bottom: 30px;
      background: #f7f7f7;
      .panel-title {
        border-right: 2px solid #ebebeb;
        display: flex;
        align-items: center;
        background: #f7f7f7;
        justify-content: center;
        height: 60px;
        opacity: 0.5;
        font-size: 17px;
        font-weight: 500;
        @media screen and (max-width: 900px) {
          font-size: 14px;
        }
        &.active {
          transition: background 0.3s ease;
          padding-top: 2px;
          background: #ffffff;
          border-bottom: 2px solid $blue;
          opacity: 1;
        }
        &:last-child {
          border-right: none;
        }
      }
    }
    .panel-content-list {
      padding-bottom: 50px;
      .desc {
        display: flex;
        align-items: flex-start;
        @media screen and (max-width: 1240px) {
          flex-direction: column;
        }
        .title {
          margin-right: 30px;
          font-weight: 500;
          font-size: 28px;
          flex: none;
          @media screen and (max-width: 700px) {
            text-align: center;
            width: 100%;
            margin: 0;
          }
        }
        .text-wrap {
          margin: 0;
          line-height: 1.5;
          max-width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          @media screen and (max-width: 1240px) {
            width: 100%;
            margin-top: 20px;
          }
          @media screen and (max-width: 900px) {
            font-size: 14px;
          }
        }
      }
    }
  }
}
</style>

<style lang="scss">
.panel-content-list .desc .text-wrap {
  p {
    max-width: 100%;
  }
  img {
    max-width: 100%;
    @media screen and (max-width: 600px) {
      max-height: 230px !important;
    }
  }
}
</style>

